[2015-02-05 22:16] tbetbetbe opened #4 "New docset required"
- Add a separate doc set for PHP authentication, distinct from the api
- The link in composer.json should be updated to the docset link

[2015-02-09 23:13] tbetbetbe opened #7 "Provide a mechanism for syncing the stored/cached token"
From feedback in #6
Allow some kind of callback when that happens to signal that the application should update the permanently stored token.

[2015-02-17 17:09] tbetbetbe opened #12 "Update code style to reflect advice from phplint"

[2015-02-17 17:22] tbetbetbe opened #13 "Include 'sub' in the ServiceAccountCredentials cache key when its present"

[2015-04-06 23:04] stanley-cheung opened #15 "Cleanup: make package structure consistent with best practice for composer package list"
remove JustAuth?

[2015-04-06 23:05] stanley-cheung opened #16 "ADC Support for User Refresh Tokens"
The initial implementation of Application Default Credentials is missing one of the 3 credential types: User Refresh Tokens. This is basically the end result of a 3LO flow, and is an important part of the tool integration, as the Cloud SDK writes out this form of credential in the well-known-file location.

The file format to support is this:

{

"type": "authorized_user",

"client_id": "kflc91.ap

[2015-04-08 23:54] #15 closed, assigned to stanley-cheung

[2015-04-17 17:44] stanley-cheung opened #19 "Create helper function that exports update_metadata func"

[2015-04-18 03:21] tbetbetbe opened #20 "Add a new credentials type: IAMCredential"
It is constructed with and holds two fields
  - iam-token
  - iam-authority-selector

IAMCredential applies these values to requests as a pair HTTP headers (or an equivalents) keys
- "x-goog-iam-authorization-token"
- "x-goog-iam-authority-selector"
respectively

N.B, there is no requirement that an IAMCredential be returned by Application Default Credentials.

[2015-04-18 04:51] #16 closed, assigned to stanley-cheung

[2015-04-22 00:48] #19 closed, assigned to stanley-cheung

[2015-04-22 00:49] #13 closed, assigned to yoshi-automation

[2015-04-22 19:24] tbetbetbe opened #23 "Update repo docs"
Add README.md, CONTRIBUTING.md, CHANGELOG.md and other high-level docs cf [ruby](https://github.com/google/google-auth-library-ruby)(https://github.com/google/google-auth-library-ruby)

N.B. This is different from #4, which involves updating documentation on Google's official documentation site.

[2015-04-22 19:26] tbetbetbe opened #24 "Add travis.yml"
To allow the tests to run on Travis.

[2015-04-23 15:33] #24 closed, assigned to tbetbetbe

[2015-04-23 16:54] #23 closed, assigned to tbetbetbe

[2015-04-24 17:40] #12 closed, assigned to yoshi-automation

[2015-04-24 19:18] tbetbetbe commented on #20
This resolved by #28

[2015-04-24 19:18] #20 closed

[2015-05-01 10:14] kesar opened #35 "Remove unused/duplicated code in tests"
There are some imports and duplicated initialization of variables in the tests

[2015-05-01 10:15] kesar opened #37 "Variables with wrong naming"
In src/GCECredentials.php $isOnGCE and in src/OAuth2.php $userName

[2015-05-01 14:24] #35 closed

[2015-05-01 14:26] #37 closed

[2015-05-06 19:52] samsamm777 opened #40 "PSR"
Considering Google is quite an influencial body, you guys really should be following coding standards.

Please see this guide...
http://www.php-fig.org/

[2015-05-06 22:16] kesar commented on #40
:+1: yeah it would be great, but I think all PHP libraries of google follow a different standard.

[2015-05-07 17:20] stanley-cheung opened #42 "Intermittent error when connecting to GCE to get initial metadata"
When we connect to the metadata IP address on GCE, the call sometimes fails, about half of the time.

The error is:

RequestException: Error creating resource: [message] fopen(http://169.254.169.254): failed to open stream: HTTP request failed!
[file] ... /grpc-php-test/vendor/guzzlehttp/ringphp/src/Client/StreamHandler.php
[line] 414

[2015-05-07 18:01] #42 closed

[2015-05-13 00:52] stanley-cheung opened #43 "Add JWT access support to ServiceAccountCredentials"

[2015-05-13 21:36] #43 closed

[2015-05-18 18:17] anthmgoogle opened #45 "PHP Support for App Identity Credentials"
Tracking the feature to support the App Identity service for PHP.

[2015-05-18 18:21] anthmgoogle opened #46 "PHP Default Credentials check for and user GAE App Identity Credentials"
The current implementation of ApplicationDefaultCredentials in PHP does not yet support the GAE App Identty. The first class GAE lanauges should check for this environment and use this identity after checking for the environment variable and well-known-file, but before checking for GCE.

[2015-05-21 21:28] lesv opened #47 "composer.phar -- can't find this."
$ php ~/bin/composer.phar require google/auth

[code]

[2015-05-22 00:04] stanley-cheung commented on #47
Please use google/auth:dev-master for now.

[2015-05-22 04:40] stanley-cheung opened #48 "fromWellKnownFile non-Windows path"
https://github.com/google/google-auth-library-php/blob/master/src/CredentialsLoader.php#L99

Should have .config/ as part of the path for non-Windows

[2015-05-22 15:41] #48 closed

[2015-05-22 21:31] lesv opened #50 "Apache2 / php on a Mac -- Documentation suggestions..."
For a Mac, you can enable Apache2 using [these instructions](http://coolestguidesontheplanet.com/get-apache-mysql-php-phpmyadmin-working-osx-10-10-yosemite/).

Once that is done, you should can set either the `HOME` or the `GOOGLE_APPLICATION_CREDENTIALS` in either .htaccess or /etc/apache2/users/userName.conf
[code]

[2015-07-13 09:14] tbetbetbe commented on #46
The AppIdentity logic seems fairly straightforward, cf [AppIdentity.php](https://github.com/google/google-auth-library-php/blob/ae88d7ae96f96c6012bbf77a5bb0a8acbe790a32/src/Google/Auth/AppIdentity.php).  It was an omission on my part to remove that file before porting the logic to the new Guzzle-aware interfaces

To resolve this issue, it should be sufficient to
- [ ] restore a version of AppIdent

[2015-07-13 09:48] tbetbetbe commented on #45
As discussed in #46

[2015-08-04 19:30] tbetbetbe commented on #50
Thanks, we should add this to the README.md

[2015-08-10 22:53] anthmgoogle opened #51 "JwtAccess Credentials Feature"
Tracking completion of implementation of JwtAccess Credentials for service accounts for PHP. This is a service account that passes a JWT directly as an a bearer token instead of exchanging for an access token.

For reference, the Java implementation:
https://github.com/google/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/ServiceAccountJwtAccessCredentials.java

[2015-08-10 22:55] stanley-cheung commented on #51
Already fixed by #44 ?

[2015-08-10 23:31] anthmgoogle opened #52 "Promote OAuth2 service account to Jwt Access credentials"
Application Default Credentials can return Oauth2 service account credentials. gRPC can use more efficient JwtAccess credentials in place of this if no scopes have been specified. This tracks logic to detect this case and "promote" the credentials to JwtAccess form with the same identity properties if the OAuth2 form is passed in for use by gRPC.

Logic should be similar to this (in Java):

if (cr

[2015-08-10 23:40] anthmgoogle opened #53 "Jwt Access Credentials should cache JWTs"
The JWT Access Credentials should temporarily cache JWTs. Suggested algorithm:
- Hash JWTs using Audience as key.
- Also store the timestamp of last use with each JWT.
- On access clear any JWT unused for more than 1 hour.

[2015-08-11 02:57] tbetbetbe commented on #51
That's correct,  #44 add this.
I will close this bug, but please re-open with more detail if you're referring to something else

[2015-08-11 02:57] #51 closed

[2015-08-11 03:00] tbetbetbe commented on #52
This is already implemented, it was added in #44.

Please see https://github.com/google/google-auth-library-php/blob/master/src/ServiceAccountCredentials.php#L132

Will close this, please feel free to re-open if there is some confusion about the requiremen

[2015-08-11 03:00] #52 closed

[2015-08-18 00:07] bshaffer opened #54 "Invalid check for Redirect URI: "Must be Absolute""
The OAuth2 library is requiring that [the redirect URI must be absolute](https://github.com/google/google-auth-library-php/blob/master/src/OAuth2.php#L626), which sounds good except in the case of [installed applications](https://developers.google.com/identity/protocols/OAuth2InstalledApp), where the redirect URI can be `urn:ietf:wg:oauth:2.0:oob` or `urn:ietf:wg:oauth:2.0:oob:auto`

We could whil

[2015-08-18 18:02] bshaffer commented on #54
The [spec](https://tools.ietf.org/html/rfc6749#section-3.1.2) states

    The redirection endpoint URI MUST be an absolute URI as defined by RFC3986 Section 4.3.`

[section-4.3](https://tools.ietf.org/html/rfc3986#section-4.3) states

    absolute-URI  = scheme ":" hier-part [ "?" query ]

And [section-3](https://tools.ietf.org/html/rfc3986#section-3) defines `hier-part` even further

All of this

[2015-08-18 19:48] #54 closed

[2015-08-18 21:32] bshaffer opened #56 "Missing Client Credentials when fetching Auth Token"
the call to [`generateCredentialsRequest`](https://github.com/google/google-auth-library-php/blob/master/src/OAuth2.php#L369), called from [`fetchAuthToken`](https://github.com/google/google-auth-library-php/blob/master/src/OAuth2.php#L420), does not include the client credentials. This results in a `400 Bad Request`

[code]

It seems to me the HTTP Basic authorization header should be added to th

[2015-08-20 16:54] #56 closed

[2015-09-03 13:38] erickoledadevrel opened #60 "No sample code provided"
As far as I can tell, this library doesn't provide any sample code showing how to use it. I would expect to see a brief overview in the README, with a complete working sample application that uses it.

[2015-09-11 22:45] bshaffer opened #62 "Change example requests from taskqueue to something more universal"
The [sample code](https://github.com/google/google-auth-library-php/blob/master/src/ApplicationDefaultCredentials.php#L76) that calls the `TaskQueue API` makes it really easy to accidentally receive the error message "you are not allowed to make this api call"

This is because it requires the user to:

1. *notice* the path needs to be updated with their Project ID
2. *know* their current project I

[2015-09-11 22:46] bshaffer commented on #60
Agreed. We will definitely fix this by adding the sample code found [here](https://github.com/google/google-auth-library-php/blob/master/src/ApplicationDefaultCredentials.php#L76) to the README, along with additional info on how to set up your Service Account Credentials and set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable.

[2015-09-14 21:25] bshaffer commented on #60
addressed in #63

[2015-09-17 17:58] #60 closed

[2015-09-17 18:20] #50 closed

[2015-09-17 18:20] #47 closed

[2015-09-17 18:21] bshaffer commented on #50
I've added `putenv` [to the README](https://github.com/google/google-auth-library-php/blob/master/README.md#download-your-service-account-credentials-json-file), and mentioned there are other ways to set environment variables (such as `.htaccess` and `apache configs`). I believe this will be sufficient.

[2015-09-17 18:28] bshaffer opened #67 "DefaultCredentials can be consolidated into CredentialsLoader"
1. The autoloader will not be able to locate `DefaultCredentials` because it is in the file of a different class name
2. the call to `CredentialsLoader::fromWellKnownFile` will throw a fatal error because `makeCredentials` does not exist in this class

I recommend we move `function makeCredentials` into the `CredentialsLoader` class and remove the `DefaultCredentials` class all together.

[2015-09-17 18:34] bshaffer opened #68 "Make CredentialsLoader abstract and remove fetchAuthToken and getCacheKey"
CredentialsLoader contains references to `this->auth`, which are defined in some subclasses but not all of them. This will create PHP fatal errors in some cases. We should

1. Remove `fetchAuthToken` and `getCacheKey` from `CredentialsLoader`
  * Paste this code in the subclasses which use them
2. Make `CredentialsLoader` abstract
  * The static calls to `fromWellKnownFile` and `fromEnv` will stil

[2015-09-17 18:56] #67 closed

[2015-09-17 18:57] #68 closed

[2015-10-01 17:04] bshaffer opened #71 "fetchAuthToken vs fetchAccessToken"
Why are the methods named `fetchAuthToken`? It seems like more standard naming would be `fetchAccessToken`. Is there a difference?

[2015-10-01 18:57] bshaffer opened #72 "Confusion between naming of "Fetcher", "Credentials" and "Loader""
Some things I found confusing:

 - The class `AuthTokenFetcher` does not implement `FetchAuthTokenInterface`, but implements `SubscriberInterface`
 - The class `CredentialsLoader` implements `FetchAuthTokenInterface`
 - All instances passed in as the `$fetcher` variable are suffixed with `Credentials`
 - the `IAMCredentials` do not extend `CredentialsLoader` but other `Credentials` classes do

We

[2015-10-01 20:21] bshaffer opened #73 "Add getter on subscribers for auth identifiers"
- `AuthTokenFetcher` requires `['auth' => 'google_auth']`
 - `ScopedAccessToken` requires `['auth' => 'scoped']`
 - `Simple` requires `['auth' => 'simple']`

It would be helpful to have a `getAuthIdentifier` method on these classes so we can obtain the values they expect programmatically.

Although, I am not sure why these are required in the first place, so maybe I'm missing something. I assume t

[2015-10-02 15:55] tbetbetbe commented on #71
fetchAuthToken is more generic; it allows for auth implementations that use tokens that are not strictly 'access_tokens'.

To be strictly in-line with other auth implementations, this method should probably be renamed to getRequestMetadata

[2015-10-07 23:42] tbetbetbe commented on #46
@bshaffer PTAL

[2015-10-08 21:29] bshaffer commented on #71
Sounds good, although we should document the differences in the returned metadata.

For instance, `AppIdentityCredentials` returns an array like the following:

[code]

[2015-10-09 16:50] #46 closed

[2015-10-12 18:27] bshaffer commented on #45
added in #75

[2015-10-12 18:27] #45 closed

[2015-10-15 22:21] caleblloyd opened #76 "Pass Expire on Set instead of Get in CacheInterface"
Modern Key-Value stores such as Redis and Memcached set the expire-time of a key during the Set operation by setting a TTL for a key.

The CacheInterface instead passes the expire option in the Get function, which makes things difficult because now we have to store a timestamp during Set function and check it in the Get function.  Additionally, the key can no longer be automatically garbage collec

[2015-10-16 19:06] bshaffer commented on #76
This seems obvious to me as well. Perhaps @tbetbetbe could shed some light on why this is not the case?

Unfortunately [PSR-6](https://github.com/php-fig/fig-standards/blob/master/proposed/cache.md) seems to have a ways to go, so I don't think it's worth implementing at this time.

[2015-10-26 04:16] tbetbetbe commented on #76
This is a reasonable change to make.

When I defined CacheInterface, the goal was to make it easy to adapt the
existing Cache implementations in google api client library.  I'm open to
changing this now that api client library actually does depend on the auth
library.

On 17 October 2015 at 04:06, Brent Shaffer <notifications@github.com> wrote:

--
This email may be confidential or privileged.  If

[2015-11-12 15:09] brutto opened #82 "OpenSSL unable to sign data"
Trying to use account service authorization and get error message like in Subject.
Also test `readme` code, still such error appears. =\

PS: This error is rised at firebase/JWT class, but i can not understand what's wrong. Manually trying different algos, still have this error.

Any help?

[2015-11-12 15:29] brutto commented on #82
Trace error description with ```openssl_error_string()```: ```0906D06C:PEM routines:PEM_read_bio:no start line```

[2015-11-12 15:55] brutto commented on #82
Issue can be closed. Problem was with copy-paste json file with keys. =)

[2015-11-12 15:55] #82 closed

[2015-11-13 22:32] bshaffer opened #83 "Guzzle6/PSR-7 support"
The lack of support for Guzzle6 in this library is causing problems for our users (see https://github.com/google/google-api-php-client/issues/720). We have a few options:

1. Implement [handlers](https://github.com/aws/aws-sdk-php/tree/master/src/Handler), and use the handler for the appropriate guzzle version.
  - Pros: There is a precedent for it
  - Cons: Additional classes, and it may not work

[2015-11-13 22:38] Behunin commented on #83
So its either PSR-7 + Guzzle or PSR-7 + Php-http?

[2015-11-13 23:13] bshaffer commented on #83
@Behunin yes, or maybe more appropriately `PSR-7* + Guzzle 5` **or** `PHP-HTTP`

\* defaults to Guzzle 6

[2015-11-13 23:37] Behunin commented on #83
I think we need a poll taken here but, my vote is Guzzle6. I like the way it handles async and batching for the Shopping API Project I am working on. Haven't taken the time to really look into PHP-HTTP though I am not really wanting to be dependent on another project that is in beta or alpha. I need this working before the big shopping boom.

[2015-11-16 17:21] dwsupplee commented on #83
@bshaffer

I'm currently working on a PR with these goals:
- Remove dependencies on the subscriber interface to allow classes currently implementing it to be used in more generic scenarios.
- Provide subscriber/middleware implementations so we support idiomatic ways of dealing with guzzle 5/6.
- Implement basic http handlers for guzzle 5/6 and tie them to an interface that accepts a PSR7 request a

[2015-11-16 17:34] dwsupplee commented on #73
As far as I can tell these values are only used here,

https://github.com/google/google-auth-library-php/blob/213ca8725ec3e3c5f5ee6560fa9f277b1cde0994/src/AuthTokenFetcher.php#L106-L108

I can see a case where you may want to handle different auth types, but that doesn't seem to be the case here - we just prevent the request from working if the configuration isn't provided.

I don't believe it's a

[2015-11-16 18:21] bshaffer commented on #73
I agree with @dwsupplee, I'm not sure why this design decision was made. Maybe @tbetbetbe can provide some insight?

[2015-11-16 18:24] bshaffer commented on #73
It allows the user to set up their HTTP client with multiple auth classes (say in a container) and then choose at runtime which to use. In general, it also makes the authentication more explicit.

[2015-11-16 18:41] bshaffer commented on #83
So it sounds like option \#2 in a nutshell. We should support a PSR-7 middleware, and use Guzzle for internal requests and as the default HTTP.

We could leave the subscriber interfaces as they are, and reimplement each of them as PSR7 middlewares. So each `SubscriberInterface` has a corresponding Middleware.

This would be my suggestion, since the actual logic in each `SubscriberInterface` is pre

[2015-11-16 19:31] dwsupplee commented on #83
I agree the logic is pretty minimal, but ideally the subscriber wouldn't be worrying about caching. If we pull that type of logic out it's one less thing to have to duplicate in the middleware implementation. To me, the subscriber should be as simple as,

public function onBefore(BeforeEvent $event)
{
    $event->getRequest()->setHeader('Authorization', 'Bearer ' . $this->fetcher()->fetchAuthToken

[2015-11-16 19:42] bshaffer commented on #83
SGTM

[2015-11-19 08:53] Nyholm commented on #83
I've just updated #81. It supports PSR7 and PHP-HTTP. There are 4 "FIXME"'s in the comments and I have to rewrite a lot of the tests. Any input and suggestions is appreciated.

FYI. The PHP-HTTP is aiming on tagging a stable release this year. The current state of the library is "pretty stable".

[2015-12-18 22:11] bshaffer commented on #83
resolved - guzzle 6 is now in `v0.5`

[2015-12-18 22:11] #83 closed

[2015-12-18 22:12] bshaffer commented on #72
resolved in 22c51e6f1bf3f1a60e956162d0661b60377d4047

[2015-12-18 22:12] #72 closed

[2015-12-18 22:15] bshaffer commented on #62
Still needs fixing in [GCECredentials](https://github.com/google/google-auth-library-php/blob/master/src/Credentials/GCECredentials.php#L45) and [ServiceAccountCredentials](https://github.com/google/google-auth-library-php/blob/master/src/Credentials/ServiceAccountCredentials.php#L57)

[2015-12-18 22:16] bshaffer commented on #73
closing - this is not a real issue, just an inconvenience.

[2015-12-18 22:16] #73 closed

[2016-01-12 07:38] jonnyijapan opened #90 "Help: How to call my own API hosted on https://xxx.appspot.com/myapp"
I need to post some data that is generated periodically to my GAE app using a PHP script. I don't really understand how to make this library work for that. I generated a service key which my script points to like this putenv('GOOGLE_APPLICATION_CREDENTIALS=/Users/me/myfile.json');
However the docs at https://github.com/google/google-auth-library-php talks about scopes like Drive etc, and I am not

[2016-01-12 19:45] bshaffer commented on #90
Hmm, are you using GAE's [admin authentication](https://cloud.google.com/appengine/docs/python/config/appconfig?hl=en#Python_app_yaml_Requiring_login_or_administrator_status) in `app.yaml`? If not, how is your authentication defined? You could try something like this:

[code]

Please let me know if this is helpful.

[2016-01-13 13:38] jonnyijapan commented on #90
I do use GAE's admin authentication. However I get Class 'Google_Client' not found. Do I need another library than google-auth-library-php for that?

[2016-01-13 14:02] jonnyijapan commented on #90
I changed to 1.0...

[code]

and now get error on the Google_Client->setAuthConfig('....path.json') line:

[code]

I do use "Service account" as per the documentation here https://github.com/google/google-auth-library-php - do I need another json key file?

[2016-01-13 17:34] bshaffer commented on #90
Try upgrading to "google/apiclient": "~2.0@RC"

[2016-01-13 22:55] jonnyijapan commented on #90
Ok now I get
[code]

Just to be clear, I am not calling any Google API, just my own API that I created at xxx.appspot.com/someapi.

[2016-01-14 00:05] bshaffer commented on #90
This library is meant for calling Google APIs. If you're exposing your own API, then you will be implementing the authentication.

[2016-01-25 20:11] bshaffer opened #91 "Add whitelisted "postmessage" to valid redirect URIs"
see https://github.com/google/google-api-php-client/issues/811

[2016-02-09 20:11] bshaffer commented on #91
fixed in #92

[2016-02-09 20:11] #91 closed

[2016-02-24 18:05] #90 closed

[2016-02-25 00:25] jonnyijapan commented on #90
The API is mine of course but the authentication is Google's. I haven't had time to look into this.

[2016-02-25 04:39] bshaffer commented on #90
Then you should try following the instructions in the readme to attach the
appropriate middleware to your guzzle http client, and then just make the
request to your own api endpoint. This will send the request with an access
token in the header. You could also send in the Id token and verify on the
server side that it's indeed from Google.
On Wed, Feb 24, 2016 at 4:25 PM jonnyijapan <notifications

[2016-02-25 21:50] vtsao opened #94 "OAuth2 class seems to have some bugs with service account JWT flow."
(1) The DEFAULT_EXPIRY_MINUTES is actually used as seconds, so it should be renamed to _SECONDS and updated to 3600:
https://github.com/google/google-auth-library-php/blob/master/src/OAuth2.php#L38

(2) According to this doc:
https://developers.google.com/identity/protocols/OAuth2ServiceAccount
"prn" is no longer used and "scope" is required. So some of the logic here:
https://github.com/google/go

[2016-02-26 01:37] vtsao commented on #94
Regarding the required scope, I guess application default credentials don't deal with scope in the same way, so the logic for dealing with scope as optional in the toJwt() method is correct.

[2016-03-02 16:39] vtsao opened #96 "'code' documentation is incorrect for OAuth2 constructor config"
The `OAuth2` constructor config documents it accepts `code`, which it doesn't.

[2016-03-04 01:38] vtsao commented on #94
This has been fixed and released in the v0.7 release.

[2016-03-04 01:38] #94 closed

[2016-03-04 01:38] vtsao commented on #96
This has been fixed and released in the v0.7 release.

[2016-03-04 01:38] #96 closed

[2016-03-06 12:49] Nyholm opened #102 "Usage with Guzzle5"
If you create a project with the following composer.json. How can I get it to work? The readme suggest using HandlerStack but that is only available in Guzzle6. Am I missing something?

[code]

[2016-03-10 18:06] nulledcc opened #103 "Autoload in php not working"
Included auto-load

`<?php
require_once('controller/google-auth-library-php-master/autoload.php');
?>
`
throw me error on any class that i call

[2016-03-10 18:24] nulledcc commented on #103
for example
`[10-Mar-2016 17:55:35 UTC] PHP Fatal error:  Class 'ApplicationDefaultCredentials'`

[2016-03-21 22:19] jmckay56 opened #104 "Returns short information"
If I use a simple json wrapper when attempting to update a location wiht a bad address using Google My Business API I get the following error.

[code]

[2016-03-22 11:17] #103 closed

[2016-03-22 11:17] nulledcc commented on #103
Sorry was using not compiled library

[2016-04-19 16:13] vtsao opened #107 "Provide a constant for authorization URI for web and installed app flows."
When using this library to generate a refresh token for web/installed app flows, there isn't a constant for the authorization URI:
https://accounts.google.com/o/oauth2/v2/auth

https://developers.google.com/identity/protocols/OAuth2WebServer#redirecting

Does it make sense to put this somewhere in this library? Maybe in UserRefreshCredentials?

[2016-04-22 18:12] #40 closed

[2016-05-29 12:30] elvispdosreis opened #113 "PSR7 version 1.3"
Please add support guzzlehttp/psr7 1.3

[2016-06-01 16:15] bshaffer commented on #113
Thanks for reporting this! Fixed in #114

[2016-06-01 16:15] #113 closed

[2016-06-02 02:22] vincentwongso commented on #113
I tried installing with guzzlehttp/psr7 1.3 but it still throws the following error:

[code]

[2016-06-02 08:52] usmonster opened #117 "Cross-client Authorization?"
Is (or will there be) support for cross-client auth, as described here:
https://developers.google.com/identity/protocols/CrossClientAuth#policy
?
Those docs aren't clear about how to do this outside of Android apps. Thanks!

[2016-06-02 18:00] bshaffer commented on #113
@vincentwongso try again now, I've tagged a newer version of this library.

[2016-06-03 05:25] vincentwongso commented on #113
awesome seems to be working fine now.

[2016-06-18 04:53] iwelch opened #119 "dead link in docs"
To use Application Default Credentials, You first need to download a set of JSON credentials for your project. Go to APIs & Auth > Credentials in the Google Developers Console and select Service account from the Add credentials dropdown.

the Google Developers Console link is 404.

[2016-06-20 16:42] #119 closed

[2016-07-18 21:44] bshaffer opened #121 "Implement Caching on a Credentials level"
Caching could be implemented on a Credentials level instead of a Middleware/Subscriber level.

PROS:
 - Caching happens closer to the actual token fetching, which will allow more libraries to take advantage of caching hands-free (see https://github.com/googleapis/gax-php/issues/26)
 - Straightforward refactoring

CONS:
 - Breaking BC (again)

`ScopedAccessToken` subscriber/middleware has caching.

[2016-07-18 23:52] tmatsuo commented on #121
I think I like it

[2016-07-19 09:10] thinkerou opened #124 "Upgrade guzzle version to fix HTTP_PROXY bug?"
Links: https://httpoxy.org/
guzzle have fixed now, link: https://github.com/guzzle/guzzle/commit/9d521b23146cb6cedd772770a2617fd6cbdb1596#diff-ff73e042e738204c6da009e2ed19f783L166
So, I think that we should upgrade the version of guzzle.

[2016-07-21 09:40] djtarazona opened #125 "Retrieve `expires_in` when new access token is fetched automatically from refresh token"
The callback option #110 added is great, but it only provides the access token. But I'd also like to know when the access token is going to expire.  Why not pass the entire access token response to the callback?  I am updating my persistent store with the new access token, but need to know when it expires so that the refresh token (already stored) can be used if necessary.  And assuming an hour ex

[2016-07-25 22:13] bshaffer commented on #124
This library will automatically update to the fixed version of guzzle with the current requirements.

[2016-07-25 22:13] #124 closed

[2016-07-25 22:16] bshaffer commented on #102
Guzzle5 would look like this:

[code]

I'll update the README shortly to include this.

[2016-07-25 22:16] #102 closed

[2016-07-25 23:09] Nyholm commented on #102
Thank you

[2016-07-28 18:09] dwsupplee opened #130 "Missing grant_type after repeat calls to fetchAuthToken()"
More information: https://github.com/googleapis/gax-php/pull/33#issuecomment-235917456

[2016-07-28 18:22] michaelbausor commented on #130
The issue appear to be related to the call here:
https://github.com/google/google-auth-library-php/blob/master/src/OAuth2.php#L494

The $credentials object returned doesn't necessarily contain a refreshToken. In this case, the updateToken method will replace the existing refeshToken with null:
https://github.com/google/google-auth-library-php/blob/master/src/OAuth2.php#L603

[2016-08-02 17:34] #130 closed

[2016-08-02 22:57] bshaffer commented on #121
implemented in #123

[2016-08-02 22:57] #121 closed

[2016-08-02 22:58] bshaffer commented on #76
we've now implemented PSR-6 support, so this is no longer valid.

[2016-08-02 22:58] #76 closed

[2016-09-16 07:03] sameerpanjwani commented on #113
Facing issue for 1.3.1

 Problem 1
   - google/apiclient v2.0.0 requires google/auth 0.8 -> satisfiable by google/
   - Installation request for google/apiclient 2.0 -> satisfiable by google/api
   - Conclusion: remove guzzlehttp/psr7 1.3.1
   - Conclusion: don't install guzzlehttp/psr7 1.3.1
   - google/auth v0.8 requires guzzlehttp/psr7 1.2.* -> satisfiable by guzzleht
   - Can only install one

[2016-09-27 21:15] bshaffer opened #135 "Add method for detecting a default Project ID"
The python auth library has support for detecting the current `Project ID` in several different ways ([see here](https://google-auth.readthedocs.io/en/latest/_modules/google/auth/_default.html#default). If we added support for this in the PHP auth library, it could be used in `google-cloud-php`'s [`ClientTrait`](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/ClientTrait.ph

[2016-09-29 09:54] mikemeier opened #136 "Retrieving user information"
How can I retrieve for example the authenticated userId and/or email with this library?

[2016-11-15 13:52] leantony opened #140 "Importing keyfile on heroku"
Iam deploying an app to heroku, and am using the google cloud storage bucket. All works well on my local pc, but when I deploy the app to heroku, and set the config vars, it doesnt work. I've seen that the auth client expects an absolute file path to the keyfile that contains the credentials. For platforms such as heroku, it seems abit of a challenge, since I can't commit add the keyfile to git
Ho

[2016-11-15 18:46] jdpedrie commented on #140
Hi @leantony,

One option is to store the contents of your credentials keyfile in a Heroku [configuration variable](https://devcenter.heroku.com/articles/config-vars#setting-up-config-vars-for-a-deployed-application).

Your code in such a case would look something like this: (Assuming a keyfile configuration variable named `GOOGLE_CREDENTIALS`.

[code]

[2016-11-15 19:09] leantony commented on #140
I have done that but keep getting an error.
Okay, I pasted the json content as the variable. Then gave it a key name. GOOGLE_APPLICATION_CREDENTIALS
The exception says that a file wasn't found

[2016-11-15 19:10] leantony commented on #140
How do I really provide a path to a file in heroku. Unless I make the file available on git during commit, which I don't think is okay, since this is are credentials

[2016-11-15 19:11] jdpedrie commented on #140
Would you mind sharing the code you're using?

You are right that committing the keyfile to git isn't the right approach.

[2016-11-15 19:16] tmatsuo commented on #140
One trick we're using for travis build is to base64 encode the file and set a secret environment variable "GOOGLE_CREDENTIALS_BASE64", then use [a script like this](https://github.com/GoogleCloudPlatform/php-tools/blob/master/scripts/dump_credentials.php) to dump it to a file on the server.

[2016-11-15 19:57] bshaffer commented on #140
@leantony the variable `GOOGLE_APPLICATION_CREDENTIALS` is a reserved environment variable that is supposed to be the path to a json file. The suggestion here is to not use a file at all, but instead load the JSON contents of your credentials file directly from an environment variable. Something like this (using the environment `GOOGLE_CREDENTIALS`) should work:

[code]

[2016-11-15 20:14] leantony commented on #140
Its a laravel app. Using a google storage adapter. Its only a service provider. Anyway, It makes use of version 0.9 of google auth php library.
Here is the config on heroku. sample
![selection_196](https://cloud.githubusercontent.com/assets/7967272/20322143/fc10a5fe-ab88-11e6-9ce8-d32c63b59c97.png)
Then, the error afterwards. As you can see, the environment variable is loaded
![selection_197](http

[2016-11-15 20:46] jdpedrie commented on #140
What Brent was saying is that `GOOGLE_APPLICATION_CREDENTIALS` cannot be used for your keyfile contents. If `GOOGLE_APPLICATION_CREDENTIALS` is set, it must be a path to the location of the keyfile.

Change the name of your configuration variable (to `GOOGLE_CREDENTIALS`, or anything else you want) and try again. If you're having trouble getting things working with the laravel provider you're usin

[2016-11-16 07:25] leantony commented on #140
Okay, the service provider expects a config variable named GOOGLE_CLOUD_KEY_FILE that points to an absolute path to the json credentials file. That works on my machine
On heroku however, since I cant really provide a path to the file (or rather don't know how to) I just used the same variable with the value as the json string itself
That failed. I get an exception that the file cannot be found. Fr

[2016-11-16 15:20] jdpedrie commented on #140
Writing the keyfile to disk from a heroku config var should work, yes. I would suggest you integrate it into a [postdeploy](https://devcenter.heroku.com/articles/app-json-schema#scripts) script!

[2016-11-21 19:35] bshaffer commented on #136
An `id_token` will be returned with any authorization request including the `openid` scope. You can then decode the `id_token` to receive the userID and email. We use the `firebase/jwt` library to do this in the `google/apiclient` library ([code](https://github.com/google/google-api-php-client/blob/master/src/Google/AccessToken/Verify.php#L96), [example](https://github.com/GoogleCloudPlatform/gett

[2016-12-15 10:43] LuizOliveira203 opened #141 "minimum-stability"
Hello, I'm trying to add the Google/Auth library trhu composer using PhPStorm. The composer is working, I added googleads/googleads-php-lib to test and worked out fine, but when I try to add google/auth library I get the following error:
  Problem 1
    - The requested package google/auth No version set (parsed as 1.0.0) is satisfiable by google/auth[No version set (parsed as 1.0.0)] but these con

[2016-12-20 14:31] Voziv commented on #141
The problem is that there is no version `1.0.0`. You might have mistaken `v0.10` or `v0.11.x` for that.

I have this in my `composer.json` file and it works fine. It installs
[code]

and it installs just fine.

[code]

[2016-12-20 16:24] LuizOliveira203 commented on #141
Funny, my composer.json was fine, with all the correct versions setted. I excluded the whole thing and installed everything again, now its working fine... But thanks for the attention!

[2016-12-21 20:48] #141 closed

[2016-12-21 21:30] lorelei522 commented on #140
@leantony What did you end up doing? I am having the same problem. I need to deploy to Heroku and I am using the Google Vision API and I have the JSON file.

Please let me know

[2017-01-31 04:57] PaulNaylor opened #144 "CacheTrait.php:38 Call to a member function get() on a non-object"
I'm getting about 1 of these a day.
I'm wondering, if ...
`$this->cache->getItem($key)`
...returns null, perhaps we should just return null rather that calling
`$cacheItem->get();`
... and crashing, which is the current behaviour for getCachedValue();

[2017-02-02 22:36] mgnaresh commented on #140
I would also be very intrested in heroku + bigquery

Not yet tried heroku + bigquery as my local machine it self has an issue.

Is Python+BigQuery really working ?

Error processing line 3 of /Library/Python/2.7/site-packages/google_cloud_bigquery-0.22.1-py2.7-nspkg.pth:

  Traceback (most recent call last):
    File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site.py",

[2017-02-22 22:00] dizid opened #145 "Drive-Example works only when changed"
The example https://github.com/google/google-auth-library-php only worked for me when i changed the 'get'-path into: $response = $client->get('https://www.googleapis.com/drive/v2/files');
from: get('drive/v2/files').

I am actually looking for an example to use Google Storage buckets with PHP.

[2017-03-03 04:40] dwsupplee opened #146 "AppIdentityCredentials::onAppEngine() & getenv calls failing in appengine local development server"
Hey guys,

Should the following calls be expected to work while executing code in the app engine local development server? The getenv calls in `CredentialsLoader` are returning false for me.

https://github.com/google/google-auth-library-php/blob/master/src/Credentials/AppIdentityCredentials.php#L77
https://github.com/google/google-auth-library-php/blob/master/src/CredentialsLoader.php#L90
https:/

[2017-04-06 13:08] wapnen commented on #140
@lorelei522 hey did you get it to work? how?

[2017-04-07 18:31] wapnen commented on #140
@jdpedrie @bshaffer  i did what you asked. it starts to work then i get the output "name is too long (maximum is 255 characters) name is invalid. is there any way to change the limit in heroku? here's a snip of the output below. please help
![capture](https://cloud.githubusercontent.com/assets/18328614/24814153/6d5e9b4e-1bc8-11e7-8901-0047d2edc2b4.PNG)

[2017-04-08 15:37] wapnen commented on #140
@tmatsuo i did what you suggested, i get the following error GoogleException in ClientTrait.php line 120:
Given keyfile was invalid

[2017-05-01 16:06] bshaffer opened #148 "Implement a Simple Auth Client"
It would be great to implement a simple auth client similar to the `Google_Client` class that allows the user to [make http calls directly](https://github.com/google/google-api-php-client#making-http-requests-directly) with minimum setup, i.e.:

[code]

This could include a lot of the auth-related code in `Google_Client`, i.e. the OAuth flows to exchange auth codes and refresh tokens for access to

[2017-05-16 10:27] nohn opened #149 "Implement IAP/JWT client"
Please implement the functionality required to connect to IAP protected services like in the Python Auth Client: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/iap/make_iap_request.py

[2017-06-02 10:38] viralcha opened #151 "access_tokens"
i am learning php
how to get access_tokens
this is work file to get drive file information but how to get  access_tokens ?
any example sir

[code]

[2017-06-07 02:31] yayoec opened #152 "The api only surport psr7[1.2.*]"
when i install this library through composer, there are some conflusion with guzzle/psr7 1.4.2(the newest version now).

[2017-06-07 03:00] yayoec commented on #152
when i used "composer require google/apiclient:2.1.2" instead of "composer require google/apiclient:^2.0"
it will be ok.

[2017-06-07 03:00] #152 closed

[2017-06-07 03:01] yayoec commented on #152
equire google/apiclient:^2.0
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - google/apiclient v2.0.0 requires google/auth 0.8 -> satisfiable by google/
auth[v0.8].
    - Installation request for google/apiclient 2.0 -> s

[2017-06-25 10:47] judgej opened #155 "FR: callback to catch token exceptions"
When the client deems a token to have expired, using its locally stored creation time and expires_in values, it will automatically renew the token. The renewed token can then be stored/persisted by the application using the callback provided in #110 That works great, and takes the renewal burden away from the business logic of the application.

Now, the locally stored expiry time *may* be out of s

[2017-06-25 10:53] judgej commented on #155
Before I start diving into the code and doing PRs and suchlike, I just wanted to check if I am missing something with perhaps other workaround, or if other people also have this [potential] problem.

[2017-06-29 12:18] SamMousa opened #157 "Update firebase/php-jwt dependency."
Currently this library requires version 2, 3 or 4 of `firebase/php-jwt`.

Version 5 has been released a few days ago and as far as I can tell does not list any backwards compatibility breaks.
This should be confirmed, but if that's the case then it makes sense to also allow version 5.

https://github.com/firebase/php-jwt#500--2017-06-26

[2017-07-11 17:03] siwinski commented on #157
`google/apiclient`'s dependency has been updated to allow `firebase/php-jwt` `~5.0` [1][2] but since it requires this package, it must be updated here as well

[1] https://github.com/google/google-api-php-client/pull/1258
[2] https://github.com/google/google-api-php-client/releases/tag/v2.2.0

[2017-07-24 09:41] Lexinek commented on #157
Bump, it would be useful for us as we have `"firebase/php-jwt": "^5.0"` composer dependency in our project, we have to alias it to 4.0 to be able to have `google/apiclient` dependency

[2017-07-24 22:55] RyanGordon opened #160 "Wrong variable referenced in MemoryCAcheItemPool.php"
On line https://github.com/google/google-auth-library-php/blob/master/src/Cache/MemoryCacheItemPool.php#L77 it sets `$this->deferred = [];` when it should be setting `$this->deferredItems = [];`

[2017-07-31 16:35] #157 closed

[2017-07-31 17:29] bshaffer commented on #157
added in [`v1.0.1`](https://github.com/google/google-auth-library-php/releases/tag/v1.0.1)

[2017-08-10 17:53] bshaffer commented on #160
Good catch! Thank you.

[2017-08-10 17:58] bshaffer commented on #148
For simplicity, another method would be to implement a method (similar to `HttpHandlerFactory::build`) to return a client from a set of credentials, ie

[code]

[2017-08-10 21:42] #160 closed

[2017-08-14 20:36] bshaffer commented on #149
@nohn Can you explain what the missing auth is?

[2017-08-14 21:05] bshaffer opened #163 "Add Service Account same to CredentialsLoader::makeCredentials"

[2017-08-15 07:29] nohn commented on #149
The basic documentation is on https://cloud.google.com/iap/docs/authentication-howto. There a bit more on https://cloudplatform.googleblog.com/2017/04/Getting-started-with-Cloud-Identity-Aware-Proxy.html. It seem like at least the target_audience claim is missing, but I'm not sure, if that's all.

[2017-09-19 00:50] #148 closed

[2017-09-25 00:38] shadoWalker89 opened #169 "Update guzzlehttp/psr7 to 1.4"
Hi,

Is it possible to update the dependency of "guzzlehttp/psr7" to support version 1.4
because using

"guzzlehttp/guzzle": "~6.0"

requires

"guzzlehttp/psr7": "^1.4"

[2017-09-25 08:00] b4b4r07 commented on #149
+1

[2017-09-25 20:26] bshaffer commented on #149
We are working on this! cc @ryanmats

[2017-09-25 20:38] bshaffer commented on #169
@shadoWalker89 our composer requirements are set to `guzzlehttp/psr7:~1.2`, which includes `guzzlehttp/psr7:^1.4`. So whatever composer requirements error you are receiving, it isn't a result of this library.

Try running `composer update` to fix the problem.

[2017-09-25 20:38] #169 closed

[2017-09-25 20:39] #163 closed

[2017-09-25 20:43] bshaffer commented on #155
Thank you for reporting this issue! We would love to see a PR to fix this. Another way we could do this is we could be conservative when checking to see if the access token is expired, and give ourselves a few seconds of wiggleroom, e.g.:

[code]

[2017-09-25 20:48] bshaffer commented on #151
Yes, you can get an access token by providing a `$tokenCallback` method to your middleware:

[code]

Using the sample code you provided, it would look like this:

[code]

[2017-09-25 20:48] #151 closed

[2017-09-25 21:23] judgej commented on #155
I haven't looked at this for a while, so I'll try the latest version and have a dig around again.

I don't have any qualitative evidence, but I would think the wiggle room would help some cases where the network happens to be a bit slow. It is just renewing a few seconds early, which can't be a bad thing. I'm using a longer wiggle room because I have some longer running scheduled jobs. I'm guessin

[2017-09-25 21:42] bshaffer commented on #146
This seems like a pretty easy fix, we would just need to change `onAppEngine` to the following:

[code]

Although checking for `'Development/'` does seem a little too loose of a requirement, so we could do this instead:

[code]

[2017-09-25 22:10] bshaffer commented on #155
I think the main issue here is the library cache by default does not actually look at the token expiration. It just calls for a new access token on every request and caches the fetched access token in memory.

One solution is to store the full access token [in the cache](https://github.com/google/google-auth-library-php/blob/master/src/FetchAuthTokenCache.php#L87), and check the expiration when th

[2017-09-26 10:39] judgej commented on #155
Let me take a step back and explain how I think this works, where I think - as an application developer - it can make things difficult. If my understanding is incorrect, please say:

1. On initial authorisation, this library obtains an access token, a refresh token, and starts a 30-minute clock ticking on the access token. These are all passed back to the application to look after in the context o

[2017-09-26 19:00] bshaffer commented on #155
This all sounds accurate, thank you for taking the time to type this out. Although I'm not sure about point 2. When are the previous tokens used to initialize the library? I assume this is happening in the application layer.

We could definitely include in the Middleware (or add a new middleware) the logic to retry the authentication call *if* the request throws an expired exception. What do you t

[2017-09-28 10:55] judgej commented on #155
On point 2, the initialisations, I meant the authentication client. The "library" was a little too broad.

[code]

The `$json_token` looks something like this:

1
5
6
2.04s10.25MBGET reports/site/{site_id}web: jason.judge@academe.co.uk

[code]

The current access token, its expiry and the refresh token are all in there. These details were stored in the application and are all that is needed to acc

[2017-09-28 13:57] b4b4r07 commented on #149
When will it be implemented?

[2017-09-28 20:06] bshaffer commented on #149
@b4b4r07 Is the request to support the field `target_audience` in the JWT payload? I haven't tested it out, but it may be possible through something like this: https://gist.github.com/bshaffer/35fc2fb65df200c5e3a201c70c466c8b

[2017-09-29 06:18] b4b4r07 commented on #149
Thank you. Does that script really work? I tried but I got an error. As far as I can see, making IAP request needs to refresh token. However that script doesn't do that.

[2017-09-29 18:34] bshaffer commented on #149
It won't work until #171 is merged, and then you will be able to do the following:

[code]

I've updated the sample to reflect this, but if you could pull down the branch and test, that would be awesome! You can do so by changing `composer.json` to look something like this (and then running `composer update`):

[code]

[2017-10-03 16:52] bshaffer commented on #149
If someone on this thread could confirm this change to the auth library enables a successful IAP call, I will get the change merged and a new version tagged.

[2017-10-04 09:18] nohn commented on #149
[code]

[code]

[2017-10-04 18:37] bshaffer commented on #149
@nohn you are getting an autoload error. Presumably composer is not set up properly.

[2017-10-09 21:15] bshaffer commented on #149
@nohn also, composer should use `"require"` and not `"required"`.

[2017-10-10 04:20] nohn commented on #149
# Composer is latest stable (1.5.2)
# Install is clean

[code]

[2017-10-10 20:23] ryanmats commented on #149
Hi all.
I have confirmed that @bshaffer 's fix to google-auth-library-php enables a successful IAP call.

Here is a code snippet that I have tested and works: https://gist.github.com/ryanmats/8579d3e07664cd7224b4626180c2e689. Make sure to add "google/auth":"dev-additional-claims as v1.0.1" to the require section of your composer.json file before running this. Also make sure to visit https://consol

[2017-10-12 20:14] dwsupplee commented on #146
Thanks for the fix! :)

[2017-10-12 20:14] #146 closed

[2017-10-18 15:59] scottfell opened #173 "auth2 is not defined"

[2017-10-18 18:55] bshaffer commented on #173
This issue does not include enough information for us to take any action. Please open up another issue with more information if you believe this to be a valid error.

[2017-10-18 18:55] #173 closed

[2017-10-23 02:48] fnmendez commented on #140
With my partner @agmardones we're developing a Koa application with Google Cloud Storage services.
To get it work we only needed to set `private_key` and `client_email` from the json.
In Heroku, under `GOOGLE_PRIVATE_KEY` env var,  we inserted the key value **exactly as in the json but without quotes**.
Finally, to import them we used the following solution that a classmate proposed.

[code]

Hope

[2017-10-23 04:33] #140 closed

[2017-10-23 04:34] #149 closed

[2017-10-23 04:35] bshaffer commented on #149
@nohn you need to include the autoloader at the top of `test.php`

[code]

[2017-10-23 05:10] bshaffer commented on #144
The idea is `$this->cache->getItem($key)` always returns a cache item. Looking at the code, I can't find a scenario where this would happen. Are you using a custom cache type, or are you using the [MemoryCache](https://github.com/google/google-auth-library-php/blob/master/src/Cache/MemoryCacheItemPool.php) which is used by default?

[2017-12-09 01:28] bshaffer commented on #144
@PaulNaylor Can you provide some more info here?

[2017-12-09 01:28] #7 closed

[2017-12-23 03:03] erictinocopro opened #180 "Headers being overwritten and not merged"
While working with GCS PHP library, I've found a bug on auth library.
Using encrypting options makes the upload fail cause headers are not correct.
After digging that for a while, it turns out that root cause is on file **src/HttpHandler/Guzzle5HttpHandler.php** row 112.

<pre><code class="php">
    private function createGuzzle5Request(RequestInterface $request, array $options)
    {

        ret

[2018-01-08 17:59] #145 closed

[2018-01-22 22:26] salinda-kuapongthai opened #185 "VerifyIdToken passes client_id instead of aud key."
The method is to verify whether a request is coming from Google using "Authorization" token in the header and pass it to VerifyIdToken.

However,
VerifyIdToken(token) in https://github.com/google/google-api-php-client/blob/master/src/Google/Client.php passes getClientId() to VerifyIdToken(token, aud key) in https://github.com/google/google-api-php-client/blob/master/src/Google/AccessToken/Verify.p

[2018-01-22 22:31] salinda-kuapongthai commented on #185
Wrong repo. I think

[2018-01-22 22:31] #185 closed

[2018-01-24 18:25] bshaffer commented on #180
fixed in #186

Thank you for finding this!

[2018-01-24 18:25] #180 closed

[2018-03-08 21:19] ejohn20 opened #187 "Creating client with credentials from secrets manager"
Question: right now, the credentials are read from the file system by default. We have a requirement that does not allow us to store private keys at rest on disk. We have a secrets management solution in place that will allow us to pass the JSON directly to the Google Client. What is the best way to do this? Is there an overload similar to this somewhere that we can call to configure non-file syst

[2018-03-13 22:17] patrick-yi-82 opened #188 "GAE_VM is a deprecated environment variable, so GCECredentials::onAppEngineFlexible returns false."
I've been having trouble getting default credential from the app engine, and found out that GAE_VM is a deprecated environment variable. (according to https://cloud.google.com/appengine/docs/flexible/python/upgrading#environment_variable_changes)

As a workaround, I am using GAE_SERVICE to check if I am on a GAE, however I felt this issue should be mentioned so the auth library can be updated.

ht

[2018-03-13 23:50] bshaffer commented on #188
Thank you for this! Looks like you're right, we need to update this right away. I found the environment variable `GAE_INSTANCE` which on App Engine Flexible is automatically prefixed with `aef-`. This is a pretty reliable way to handle this check.

[2018-03-13 23:54] tmatsuo commented on #188
I would not rely on the fact that the instance names are prefixed with `aef-`. Unless this is a written contract, it may change any time.

[2018-03-14 00:04] bshaffer commented on #188
Unfortunately, this is the best solution we have at this time. There are no environment variables in Flex which are not available in other App Engine environments (or planned to be). And Flex is being turned down, so pushing an update to the runtime, while possible, is not encouraged.

[2018-03-14 00:07] bshaffer commented on #188
@tmatsuo what do you think we should use instead?

[2018-03-14 00:10] tmatsuo commented on #188
@bshaffer I would ask the PM or the tech lead for the best option :)

[2018-03-24 09:30] abhibeta commented on #140
I am looking for solution too , how to use google api key in heroku,
nothing is working

[2018-03-25 20:13] lenardpalko commented on #187
It would be also easier for Kuberentes deployments to pass the credentials to the containers.

From what I see currently the contents of the JSON file from disk are loaded into config as an array and there is no possibility to load credentials other than file.
How about having the possibility to store credential JSON directly in env variable instead of file ?

Thanks

[2018-03-25 20:35] lenardpalko commented on #187
Actually just noticed that at least for LoggingClient you can do something like : new LoggingClient(['keyFile' => <decoded_json_file>]);
Not sure if this is possible with other clients also.

[2018-04-06 19:34] bshaffer commented on #188
Fixed in [`v1.3.0`](https://github.com/google/google-auth-library-php/releases/tag/v1.3.0)

[2018-04-06 19:34] #188 closed

[2018-05-15 07:29] Unkulunkulu commented on #140
In case you need to access Google Analytics API, I finally got this to work without having to write anything to disk on Heroku. This solution should apply to other use cases as well with small modifications.

Follow the instructions on Google's own Hello Analytics page here: https://developers.google.com/analytics/devguides/reporting/core/v3/quickstart/service-php

Set up three environment variabl

[2018-06-01 21:44] JustinBeckwith commented on #144
Greetings!  We haven't heard back in a while.  If you're still having issues... please do let us know and we'll re-open the bug!

[2018-06-01 21:44] #144 closed

[2018-06-01 21:44] #136 closed

[2018-06-13 12:51] bshaffer opened #196 "GCECredentials do not handle scopes"
When calling from a GCE instance, the scopes are fixed:

[code]

This is a problem, as these credentials are being used by default for all our APIs. So for instance, it is not possible to write (using Application Default Credentials) to a GCS bucket. I cannot find a way to get an access token with custom scopes on a GCE instance, even though the default service account seems to have all access. Th

[2018-06-13 13:22] bshaffer commented on #196
`gcloud` appears to have full access using the same service account on the same machine. I cannot find out (as of yet) how it is doing this. But I believe there is a way to get custom scoped access tokens on GCE without requiring the user to create, upload, and configure a new set of service account credentials.

[2018-06-13 15:12] bshaffer commented on #196
If you go into your Compute Engine instance and modify the scopes enabled on it (this requires stopping the instance to edit them), you can fix the issue and call the metadata server as expected. This is not super great but it is the only way to make this work, so this behavior is WAD for now.

[2018-06-13 15:12] #196 closed

[2018-06-22 08:35] fiboknacky opened #197 "Will there be support for 'code challenge' soon?"
Hello,

Per [this guide](https://developers.google.com/identity/protocols/OAuth2InstalledApp#step1-code-verifier), OAuth2 installed app supports code challenge and code verifier now.

Will there be support released for this library soon?

Best,
Knack

[2018-06-28 19:26] JustinBeckwith opened #198 "Soft-warn about application default credentials using gcloud credentials"
Due to user issues with quota and API enablement, the auth libraries should issue a soft warning (that can be silenced) when application default credentials uses user credentials from the Cloud SDK. They should not warn if the credentials for the cloud sdk are service account credentials.

[code]

Additional context:
https://groups.google.com/a/google.com/forum/#!topic/client-auth-team/DKqrFw6lL1Q

[2018-06-28 19:33] tmatsuo commented on #198
I feel like the best place to fix this issue is to change how `gcloud auth application-default` works.
If gcloud creates a service account and store the key securely (which is technically possible at all), the issue will just go away.

In other words, simple comparison between 8 engineers working on 8 auth libs and aforementioned central fix. WDYT?

[2018-06-28 19:36] JustinBeckwith commented on #198
@theacodes has much of the context on the why here :) . Same in the thread.

[2018-06-28 19:43] theacodes commented on #198
@tmatsuo while that might be viable, neither us or the cloud SDK team want to continue intertwining Cloud SDK configuration with API Client Library configuration.

Happy to chat more about this internally, but this is the decision that's been made with very careful consideration.

[2018-07-19 17:29] #198 closed

[2018-07-23 09:39] steffenweber opened #201 "Please provide a way to disable the warning for 3 legged OAuth credentials"
Commit https://github.com/google/google-auth-library-php/commit/8057ceda3e324304a6443b82f1a56f52cd9e600d introduced a "warning for 3 legged OAuth credentials".

I'm using the YouTube Data API to manage a single YouTube channel. The YouTube Data API doesn't support service accounts. Therefore, I'm using "Offline/long-lived access to the YouTube API" as recommended by the documentation: https://deve

[2018-07-23 18:43] dwsupplee commented on #201
@steffenweber we feel your pain here, sorry for the trouble. A programmatic solution to disable the warning is definitely on the table. In the meantime, the best suggestion I have would be to avoid the warning by pinning to a release of the library prior to 1.3.1. - `"google/auth": "1.0.0 - 1.3.0"`

[2018-07-23 21:47] tmatsuo commented on #201
@steffenweber

The fix has landed with the newly tagged v1.3.2. If you still see the warning and want to suppress it, you can set `SUPPRESS_GCLOUD_CREDS_WARNING` envvar to `true`.

Sorry about the trouble.

[2018-07-23 21:47] #201 closed

[2018-07-24 06:39] steffenweber commented on #201
Thank you!

[2018-08-07 00:13] JustinBeckwith opened #205 "Use new urls for authentication"
[Parent issue](https://github.com/GoogleCloudPlatform/google-cloud-common/issues/260)

The following specific library changes are required:

### OAuth 2.0 Authorization Grant Flow (aka 3LO)

For clients using this flow, change (and test):
- https://accounts.google.com/o/oauth2/token -> https://oauth2.googleapis.com/token
- https://accounts.google.com/o/oauth2/revoke -> https://oauth2.googleapis.co

[2018-09-05 20:57] JustinBeckwith commented on #205
Fixed in #206

[2018-09-05 20:57] #205 closed

[2018-10-01 04:52] TheJadeEmperor opened #210 "Code does not work, gives fatal error"
![screenhunter_207 oct 01 00 51](https://user-images.githubusercontent.com/9850773/46270176-2bd1fd00-c514-11e8-9929-67d85fffef37.png)

Fatal error: Class 'Google\Auth\ApplicationDefaultCredentials' not found in C:\wamp\www\google-auth-library-php\call.php on line 15

[2018-10-16 18:50] SudoPlz opened #211 "Do we have to refresh the access token manually ourselves?"
Hi,

I'm using
[code]

and then

[code]

I wonder if we have to refresh the access token manually ourselves, or wether this library takes care of it automatically.
If not, when do we refresh the access token?
Do we just run

[code]

whenever we receive a 401 response?

Thank you in advance

[2018-11-29 15:54] jdpedrie commented on #210
Hi @TheJadeEmperor,

Have you made sure to include the composer autoload file?

[code]

See the [Composer documentation](https://getcomposer.org/doc/01-basic-usage.md#autoloading) for more detailed information.

[2018-12-03 21:37] dwsupplee opened #215 "Port access token verification from google-api-php-client"
It seems like it could make sense to port the [`Verify`](https://github.com/googleapis/google-api-php-client/blob/master/src/Google/AccessToken/Verify.php) class from google-api-php-client over to this repository.

/cc @bshaffer, @tmatsuo - do you have any thoughts?

For some further context, please see: https://github.com/googleapis/google-cloud-php/issues/938

[2018-12-03 22:02] bshaffer commented on #215
Agreed!

[2018-12-05 22:30] #71 closed

[2018-12-07 01:12] dwsupplee commented on #117
Hey there @usmonster,

I believe this should actually be supported through this library already:

[code]

[Here's a stackoverflow post](https://stackoverflow.com/a/35209891) that may be helpful, as it is a provides at outline for how to achieve this with javascript instead of just Android.

I'm going to close this out for now, but if I've misunderstood your request or you have any more specific fo

[2018-12-07 01:12] #117 closed

[2018-12-07 01:38] #187 closed

[2018-12-07 01:40] dwsupplee commented on #210
I'm going to close this out now @TheJadeEmperor, please feel free to re-open if @jdpedrie's suggestion doesn't do the trick :).

[2018-12-07 01:40] #210 closed

[2018-12-07 05:15] dwsupplee commented on #211
Hey @SudoPlz  👋,

You'll want to check the `expires_at` key returned from `getLastReceivedToken` and compare it against the current time.

Something like this:

[code]

You may find it more useful to utilize a cache, however. It will help manage access tokens for you and only request new ones when they have expired. We even have a [`sysv`](http://php.net/manual/en/ref.sem.php) based cache implemen

[2018-12-07 05:15] #211 closed

[2018-12-07 06:36] SudoPlz commented on #211
Thank you so much for this answer

[2019-01-16 23:22] bshaffer opened #218 "Add A Filesystem Cache"
We have a simple cache for Memory, but nothing for a filesystem. This is mostly a problem with our [Gsuite Docs](https://developers.google.com/docs/api/quickstart/php), which have bypassed this and use a very crude and poorly implemented file cache.

We could implement a very basic `FilesystemCache` class which takes a `$path` in the constructor and caches files accordingly. This would reduce the

[2019-02-04 02:09] MrMeDevelopper opened #219 "Upcomming shutdown on google+ apis"
hey, as we know google+ signin will shutdown, does this sdk already uses google sign in, or still uses the google+ scopes that will be shutdown in april? And will this be updated in case its still using deprecated scopes? its very important to get a reply since im implementing this in my website.

thank you

[2019-04-11 18:04] dwsupplee commented on #219
Sorry for the delay on a response here @MrMeDevelopper - you should be good to go with what we have in this library.

[2019-04-11 18:04] #219 closed

[2019-04-22 17:13] ericnorris opened #225 "Race condition in SysVCacheItemPool constructor"
I am using the [CacheSessionPool](https://googleapis.github.io/google-cloud-php/#/docs/google-cloud/master/spanner/session/cachesessionpool) in the Google Cloud Spanner PHP library for caching Spanner sessions.

In order to construct the `CacheSessionPool`, you are required to pass in a `SysVCacheItemPool`. Although the `CacheSessionPool` uses locking when interacting with the `SysVCacheItemPool`,

[2019-04-22 18:30] dwsupplee commented on #225
Thanks for the report @ericnorris, your proposal of moving `loadItems` out of the constructor seems reasonable to me. :)

It looks like we may just need to ensure we trigger `loadItems` in the `delete`/`save` methods as well if we go this route. Does this sound reasonable to you, @tmatsuo?

[2019-04-22 18:45] tmatsuo commented on #225
Does moving `loadItems` really solve the problem? It will definitely solve the problem of the race condition in the constructor, but there will still be the same race condition in other places.

What about just ignore the warning by adding `@` before the `shm_attach` as we do for `@shm_get_var`?

[2019-04-22 18:59] tmatsuo commented on #225
Oh wait, if other places are safe because they're protected by lock, then that looks good to me to move it out from the constructor :)

[2019-04-22 20:32] ericnorris commented on #225
Thanks for the quick response! Correct, the `CacheSessionPool` appears to properly handle locking, so the race conditions in non-constructor methods should be okay.

Relatedly, this would still be a problem for the [FetchAuthTokenCache](https://github.com/googleapis/google-auth-library-php/blob/master/src/FetchAuthTokenCache.php), however, since that doesn't use locking. Are there any plans to add

[2019-04-22 20:48] dwsupplee commented on #225
This isn't on our roadmap yet, but it is certainly something we can consider :). Another issue would be great.

[2019-04-22 20:51] dwsupplee commented on #218
I see the value in adding the cache, as we've already started to cross the line with the sysv/in memory implementations - but now it is making we wonder if we should start delegating out to libraries like [symfony/cache](https://github.com/symfony/cache) so we don't continue to creep and want to add more and more implementations we have to maintain.

[2019-04-22 21:39] ericnorris opened #226 "Add locking to FetchAuthTokenCache"
Per #225, filing an additional ticket for this feature request. Thanks again!

 **Is your feature request related to a problem? Please describe.**

The [SysVCacheItemPool](https://github.com/googleapis/google-auth-library-php/blob/master/src/Cache/SysVCacheItemPool.php) class points out that calling code should handle race conditions, but the [FetchAuthTokenCache](https://github.com/googleapis/goo

[2019-05-24 17:32] #225 closed

[2019-07-20 19:08] tybro0103 commented on #140
If you're landing here because of this same issue, but with firebase+heroku, see this:
https://firebase.google.com/docs/reference/admin/node/admin.credential.html#cert

[2019-07-22 11:15] mareksuscak opened #231 "Does not work on GKE w/ Workload Identity enabled"
This library doesn't seem to work on GKE w/ [Workload Identity][wi] enabled because according to [the following note][note], GKE metadata server now requires `Metadata-Flavor: Google` HTTP header be present in all requests.

However, [GCECredentials](https://github.com/googleapis/google-auth-library-php/blob/master/src/Credentials/GCECredentials.php) isn't providing that in the initial exploratory

[2019-07-22 20:38] #231 closed

[2019-07-23 02:04] mareksuscak commented on #231
Just tested the patched version and it's working flawlessly!

[2019-07-23 16:59] jdpedrie commented on #231
Fantastic! Thanks again for helping us fix it. :)

[2019-07-30 09:55] chrislarosa opened #236 "Fix RSA check in ServiceAccountSignerTrait"
The check for `class_exists('RSA')` in ServiceAccountSignerTrait.php fails due to missing namespace _\phpseclib\Crypt\RSA_ https://github.com/googleapis/google-auth-library-php/blob/master/src/ServiceAccountSignerTrait.php#L40

[2019-07-30 11:30] jdpedrie commented on #236
Thanks for bringing this to our attention. #237 should fix it.

[2019-07-30 15:40] #236 closed

[2019-08-07 13:19] samcday opened #238 "GCECredentials does not support custom scopes"
#### Steps to reproduce

[code]

Result:

[code]

The issue is that the `GCECredentials` class is not provided the desired scopes to pass along when asking for a token.

The fact you can even ask for custom scopes from the GCE metadata endpoint is poorly documented. It's not documented in the [main documentation page for GCE metadata](https://cloud.google.com/compute/docs/access/create-enable-serv

[2019-08-07 16:40] jdpedrie commented on #238
Thanks for bringing this to our attention. We'll look into it and get back to you as soon as possible!

[2019-08-09 14:37] jdpedrie commented on #238
Hi @samcday, I just opened #239 to address this.

[2019-08-09 18:06] #238 closed

[2019-08-12 23:42] jacobnuno commented on #140
@abhibeta @wapnen @leantony I did it as @jdpedrie said it before. I store the contents of my credentials keyfile in a Heroku configuration variable.
![image](https://user-images.githubusercontent.com/33098541/62905378-d53a6f80-bd2f-11e9-8dcf-c8816b9c08ab.png)

So in my laravel configuration I load the JSON content of my credentials file directly from an environment variable as @bshaffer recommende

[2019-09-16 13:51] classmember opened #241 ""APIs & Auth" to "APIs & Services""
In the README.md file, under the Application Default Credentials, there is an instruction to go to `APIs & Auth > Credentials`. This appears to have been renamed in console.cloud.google.com to `APIs & Services > Credentials`.

[2019-09-16 19:52] jdpedrie commented on #241
Thanks! Opened a PR to address this.

[2019-09-19 20:06] #241 closed

[2019-09-22 13:23] JamesVanWaza commented on #135
@bshaffer what's the solution for the issue.

[2019-09-23 13:43] jdpedrie commented on #135
@JamesVanWaza #230 will address this. Look for it in a near-future release of the Auth library.

[2019-11-05 11:22] chiragvels opened #250 "verifyIdToken not giving payload for valid id_token"
Hi,

I was using Google Auth library to get data.
I was trying to verify Id Token but not giving payload return

I was using like this
$payload = $oauth2->verifyIdToken();

It is giving me error **Key may not be emptySome Error Occured!!!**

Can you please see why it is like this?

Thanks,

[2019-11-05 13:45] jdpedrie commented on #250
Provide a public key as the first argument to `verifyIdToken()` in order to decode the token.

The documentation for `Google\Auth\OAuth2::verifyIdToken()` states the following:

However, [`JWT\JWT::decode()`](https://github.com/firebase/php-jwt/blob/5f68890c13b0bb3415861963143831eb6fd42e6e/src/JWT.php#L74-L76) throws an exception if a key is not given.

We'll need to investigate this further.

[2019-11-05 16:40] chiragvels commented on #250
Hi @jdpedrie ,

Yes, I have passed $publicKey as first argument but still giving me error.

$publicKey = file_get_contents(__DIR__ . '/fixtures' . '/public.pem');
$payload = $oauth2->verifyIdToken($publicKey);

Thanks,

[2019-11-05 17:53] jdpedrie commented on #250
`$publicKey` must not contain what you expect it to. Verify that the file exists and contains the key data. The only place where the error you shared occurs is in checking the value of the public key variable.

[2019-11-05 19:44] chiragvels commented on #250
What can be $publicKey? Where I can find?
What do you mean by it contains key data?

Thanks

[2019-11-05 20:18] jdpedrie commented on #250
I meant that I do not see any way that you should see the error you shared unless you are not passing in a key.  Make sure `public.pem` contains the key data, and that the path in `file_get_contents()` is correct.

[2019-11-06 05:02] chiragvels commented on #250
Ok @jdpedrie , Thanks,

I have taken your pull in my branch. Now I am not getting that error but getting **Wrong audience present in the id token**.

I have checked and found that $this->getAudience() is not returning anything.
Is it due to bug mentioned by you regarding JWT version?

Thanks,

[2019-11-06 15:34] jdpedrie commented on #250
You can set the expected audience using `Google\Auth\OAuth2::setAudience()`.

Note that the code in the pull request will not verify that a token signature is valid. It will return the payload without any verification if a public key is not provided. Also, I do not know whether the change will be accepted, so use it with caution. It's never wise to use unreleased code in production. :)

[2020-01-26 18:57] mpjraaij opened #259 "How to use the async method with the api client?"
Hi there,

I see that async is implemented in the http handler: https://github.com/googleapis/google-auth-library-php/blob/6122896969b06745a117aa47a0502fdb7ca024fb/src/HttpHandler/Guzzle6HttpHandler.php#L45

My question is: how do I actually make sure that this async sending is used over the `__invoke` function?

Thanks so much,
Maarten

[2020-02-03 21:40] bshaffer commented on #259
Hey there! If you want to invoke this, though, you have a few options:

[code]

As this is a callable you can also use `call_user_func`:

[code]

[2020-02-03 21:40] #259 closed

[2020-02-22 18:41] fabswt commented on #140
I **don't want to use a credentials file**, because I don't want to commit credentials to git. Instead, I **want to use an environment variable** as it's easy to set both for local dev and production on Heroku, and won't end up in git.

However, the Google Cloud is forcing us to use a JSON file. So here's how I did it:

**First, encoded the content of the credentials file** provided by Google Clou

[2020-03-04 22:34] bshaffer opened #266 "Remove SDK Warning"
NodeJS has [removed the SDK warning](https://github.com/googleapis/google-auth-library-nodejs/pull/905) from the library. We should do the same [here](https://github.com/googleapis/google-auth-library-php/blob/master/src/Credentials/UserRefreshCredentials.php#L88)

[2020-03-26 18:40] #135 closed

[2020-03-26 19:03] dolvany opened #271 "missing runtime dependency"
[code]

Updated composer to google/auth v1.7.1 and the following error occurs with the above code. Perhaps this dependency should be under require in [composer.json](https://github.com/googleapis/google-auth-library-php/blob/master/composer.json).

`PHP Fatal error:  Uncaught RuntimeException: Please require kelvinmo/simplejwt ^0.2 to use this utility.`

[2020-03-26 19:27] jdpedrie commented on #271
We don't require it because it's used for only the one case you've discovered and many users may not have the required extensions compiled into PHP. We may revisit this in the future, but for the time being simply require the dependency in your own project.

[2020-03-26 19:27] #271 closed

[2020-04-05 14:56] shishtpal opened #274 "Unable to install with `minishlink/web-push`"
I am unable to install `google/apiclient:^2.0` because I have already installed `minishlink/web-push`

Please Update library to use latest version of `guzzlehttp/psr7` so I can use both libraries.

#### Environment details

  - OS: Windows
  - PHP version: 7.4

#### Command Output

[code]

Thanks!

[2020-04-07 17:06] mwebber92 opened #275 "Problem Capturing Exception from Google Ads API Auth"
Hi all
I'm having problem. i can't catch exception to log it.

i have a class with this initialization:

[code]
later i have this:
[code]
but no matter what catch condition i add i always get this (for expired google tokens):

[code]

Is there a way to capture this?
\Exception or any other i found in the code doesn't work and ignores it.
Could it be because it uses guzzlehttp? i readed that there

[2020-04-21 19:18] danoscarmike commented on #275
Possibly related to #274

[2020-04-21 22:46] bshaffer commented on #274
This library does support the latest version of `guzzle/psr` (see [here](https://github.com/googleapis/google-auth-library-php/blob/master/composer.json#L12)), as `^1.2` means any version above `1.2` and below `2.0` ([composer docs](https://getcomposer.org/doc/articles/versions.md#caret-version-range-)).

The issue you have is you need to add `google/apiclient` to your `composer.json` manually and

[2020-04-21 22:49] bshaffer commented on #274
It also seems like composer is trying to install `v2.0.0`, which is not the latest version. The latest version is `v2.4.1`. Judging by your CLI output, I don't know why this would happen, but you can fix it by using `google/apiclient:^2.4.1` instead.

[2020-04-21 22:49] #274 closed

[2020-04-21 23:03] bshaffer commented on #275
Your error is from the OAuth API, and the error indicates that the refresh token you're supplying is invalid (see [this issue](https://github.com/googleapis/signet/issues/123) for reference).

You already are receiving the full response from the API and the stack trace, so I am not sure what you are hoping to receive with `http_errors`, but there is a way to modify your guzzle HTTP client. The `fe

[2020-04-21 23:03] #275 closed

[2020-04-26 05:01] shishtpal commented on #274
Thanks
It worked

[2020-05-05 04:20] danoscarmike commented on #250
@chiragvels are you still having trouble with this? Or can we close this issue? Thanks!

[2020-05-05 08:47] chiragvels commented on #250
@danoscarmike ,

It is useful with that Pull Request but it is not recommended way.

You can set the expected audience using Google\Auth\OAuth2::setAudience().

So, This issue might be there. I have not tried in recent times.

Thanks,

[2020-05-05 17:12] danoscarmike commented on #250
Thanks @chiragvels.

@jdpedrie could you check back in here when you get a chance?

[2020-05-05 20:45] jdpedrie commented on #250
Yep, I'll circle back to the PR and implement Brent's feedback. Thank you for the reminder.

[2020-05-12 18:36] #250 closed

[2020-05-16 22:52] huzaifaiftikhar commented on #140
1. Convert the firebase config JSON ([serviceAccountKey](https://console.firebase.google.com/project/_/settings/serviceaccounts/adminsdk)) to base64 encoded string, this can be done in many ways like using openssl command `openssl base64 -in <firebaseConfig.json> -out <firebaseConfigBase64.txt>` or using Nodejs as illustrated below
[code]
 2. Save the output base64 encoded string of the above step

[2020-06-01 22:28] #266 closed

[2020-07-01 20:03] jsoung opened #286 "FetchAuthTokenCache does not work for id_token"
There are two problems:

1. In [FetchAuthTokenCache::fetchAuthToken()](https://github.com/googleapis/google-auth-library-php/blob/master/src/FetchAuthTokenCache.php#L77-L98), the code checks whether the token is an `access_token`, if not, it bails.
2. In [OAuth2::getCacheKey()](https://github.com/googleapis/google-auth-library-php/blob/master/src/OAuth2.php#L540-L548), it returns ` $this->scope` o

[2020-07-06 19:41] iamacarpet opened #287 "Domain Wide Delegation tokens without a key file on GCP"
**Is your feature request related to a problem? Please describe.**
We had a requirement to use the AdWords API from an application running on App Engine, but all the authentication methods described in the library require either manually generating a client ID and a refresh token for a user, or using DWD, but the latter is only supported with a JSON key file.

This kind of goes against the grain w

[2020-07-18 03:43] JustinBeckwith opened #290 "Enable master branch protection"
This repository does not seem to have master branch
          protection enabled, at least in the way I'm expecting.
          I was hoping for:

          - master branch protection
          - requiring at least one code reviewer
          - requiring at least two status checks
          - enforcing rules for admins

          Please turn it on!

[2020-07-22 21:26] bshaffer commented on #286
This has been added in #291 and released in [`v1.11.0`](https://github.com/googleapis/google-auth-library-php/releases/tag/v1.11.0)

[2020-07-22 21:26] #286 closed

[2020-07-22 21:27] bshaffer commented on #53
This can be done with `FetchAuthTokenCache`

[2020-07-22 21:27] #53 closed

[2020-07-24 18:19] bshaffer commented on #290
@JustinBeckwith I believe the only thing that was missing here was enforcing rules for admins. Can you verify that the proper branch protection is now in place?

[2020-07-24 18:36] JustinBeckwith commented on #290
Looks great!

[2020-07-24 18:36] #290 closed

[2020-07-24 19:31] bshaffer commented on #218
Closing because we have decided to not support this

[2020-07-24 19:31] #218 closed

[2020-07-24 19:45] bshaffer commented on #62
The Google+ API is now gone. Perhaps the [People API](https://developers.google.com/people) would be better

[2020-07-27 18:33] #4 closed

[2020-07-27 19:44] bshaffer commented on #215
This is done and is available [here](https://github.com/googleapis/google-auth-library-php#verifying-jwts)!

[2020-07-27 19:44] #215 closed

[2020-08-03 16:58] xvzf opened #297 "DDoS-ing the Metadata Server."
Hello,

With high volume traffic, a check (on each interaction with Google APIs!!!) if the application is running on GCP by calling the metadata server is becoming quite a bottleneck response-time wise.

The specific code is located here:
https://github.com/googleapis/google-auth-library-php/blob/c438cdaadd2b1fa334c4da7560cad238625d8c10/src/Credentials/GCECredentials.php#L258

#### Environment det

[2020-08-11 09:29] xvzf commented on #297
@dwsupplee since you tagged it as investigating, it's not just PHP 7.4 but all 7.x releases

[2020-08-25 16:21] ericnorris commented on #297
At Etsy we've encountered the same issue; during periods of high enough traffic (e.g. backfills) we've seen metadata server outages that result in the following backtrace:

[code]

...where the `getCredentials` is this call:

 https://github.com/googleapis/google-auth-library-php/blob/c05c0a5c24759949f16c8d868858f05ab3899413/src/ApplicationDefaultCredentials.php#L148

...which ends up calling the

[2020-08-29 04:14] bshaffer commented on #297
If we added a new class, like @ericnorris suggested, we could have something like this:

[code]

We can't use the existing `$cache` and `$cacheConfig` parameters passed to `ApplicationDefaultCredentials::getCredentials` because the cache config / cache interface may be different for the GCE metadata cache.

We could also add `CacheItemPoolInterface` and `$cacheConfig` as additional parameters and

[2020-08-29 19:23] ericnorris commented on #297
@bshaffer, I actually proposed a different solution internally (props to @etsteeeve for implementing) that seems to work for us. We've instead written a wrapper class called `LazyApplicationDefaultCredentials` that only calls `ApplicationDefaultCredentials::getCredentials` when `::fetchAuthToken` and `::getLastReceivedToken` is called on it. Since this is passed into a `FetchAuthTokenCache`, this

[2020-08-31 18:44] bshaffer commented on #297
@ericnorris This is a really great idea! If you or @etsteeeve want to submit a PR please do! Otherwise I can take a look.

It would be nice to have caching for `::onGce` independently, so we could implement both of these options.

[2020-09-01 19:45] bshaffer commented on #297
I've coded up a potential option, please tell me what you think.

[2020-09-08 23:45] bshaffer commented on #297
fixed in `v1.12.0`

[2020-09-08 23:45] #297 closed

[2020-09-10 15:30] mruoss opened #303 "Add support for Workload Identity on the GKE"
**Is your feature request related to a problem? Please describe.**
When running an application on the GKE I would like to be able to get credentials for a workload identity. The class `GCECredentials` already implements a great deal, however it only gets the credentials for the default service account. For workload identities, I would like to specify the google service account (GSA) the credential

[2020-09-10 17:20] bshaffer commented on #303
@mruoss can you explain how you were able to get everything working?

[2020-09-10 18:02] mruoss commented on #303
Thanks @bshaffer, I just figured out, this is actually really needed. Reopening therefore.

[2020-09-10 18:04] mruoss commented on #303
I thought it was working but in fact it wasn't. I got a token, but for the wrong GSA.

[2020-09-10 18:10] bshaffer commented on #303
@mruoss so essentially, the ask is for `GCECredentials` to have an option to request more than just the default service account from the metadata server?

[code]

Behind the scenes this would just change the metadata URL paths from `*/default/*` to `*/$serviceAccountIdentity/*`:

I don't see how we could add this to `ApplicationDefaultCredentials`, as no other credential type has the flexibility o

[2020-09-10 18:19] mruoss commented on #303
Hi @bshaffer

Yes, that is exactly the request. #304 seems to do the job.

[2020-09-15 06:03] mruoss commented on #303
@bshaffer Can you roughly guess how long it's gonna take for this feature to be released?

[2020-09-15 19:55] bshaffer commented on #303
@mruoss we just merged the PR, so it's available now via the `dev-master` packagist release. I'll push a new version by the end of week. Does that work for you?

[2020-09-16 07:05] mruoss commented on #303
That sounds perfect, thank you very much!

[2020-09-16 13:22] #303 closed

[2020-09-18 20:07] bshaffer commented on #303
@mruoss this is now released in [`v1.13.0`](https://github.com/googleapis/google-auth-library-php/releases/tag/v1.13.0)!

[2020-09-30 02:34] larkee opened #308 "FetchAuthTokenCache returning expired tokens"
I am the owner of the Cloud Spanner PHP client library investigating the following customer issue:

I believe this issue is caused by the tokens remaining in the cache after the they expire on the backend because [the cache expiry uses the cache config lifetime](https://github.com/googleapis/google-auth-library-php/blob/master/src/CacheTrait.php#L61). The cache expiry should use the token expiry a

[2020-10-02 06:51] xvzf commented on #308
We've seen this as well in production, we now have a sidecar application updating the tokens

[2020-10-03 14:05] bshaffer commented on #308
We do check expiry [here](https://github.com/googleapis/google-auth-library-php/blob/master/src/FetchAuthTokenCache.php#L88), but only if `expires_at` was present when the token was cached. The metadata tokens have an ["expires_in" field](https://github.com/googleapis/google-auth-library-php/blob/master/src/Credentials/GCECredentials.php#L390), so if the cache can use this as well, would that fix

[2020-10-03 14:07] bshaffer commented on #308
Alternatively this could be done in [`GCECredentials`](https://github.com/googleapis/google-auth-library-php/blob/master/src/Credentials/GCECredentials.php#L390):

[code]

[2020-10-08 00:48] larkee commented on #308
@bshaffer Is there any way I can help with this?

Would adding the `GCECredentials` changes you specified and some tests be a sufficient fix?

[2020-10-14 23:11] skuruppu commented on #308
@bshaffer is it possible for @larkee or someone else from the Spanner team to help implement a fix? This issue is currently affecting a customer.

[2020-10-16 21:37] bshaffer commented on #308
@skuruppu @larkee please test with the fix we've merged to master in #314. Pull down the latest version (v1.14.3)[https://github.com/googleapis/google-auth-library-php/releases/tag/v1.14.3] to test this!

Running `composer update` should suffice.

[2020-10-16 22:55] skuruppu commented on #308
Thanks a lot for the fix @bshaffer. I've forwarded your instructions so that the customer can try the fix.

[2020-10-19 20:09] bshaffer commented on #308
@skuruppu I will keep this bug open until the customer has confirmed the fix. Please close it when this happens, or comment back here with any updates. Thank you!

[2020-10-19 22:32] skuruppu commented on #308
Thanks @bshaffer. I will follow-up to make sure the issue is fixed on their side and comment back here.

[2020-10-20 16:47] Guikingone opened #316 "[HTTP] Allowing external Http clients"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**

Not related to an issue.

Hi everyone 👋

I'm trying to

[2020-10-20 18:02] bshaffer commented on #308
@skuruppu change of plan, I have been told the proper process is to close this issue and if the customer still experiences the problem we can reopen it or open a new issue.

[2020-10-20 18:02] #308 closed

[2020-10-22 17:41] bshaffer commented on #316
@Guikingone this is a great idea! We will look into it. When this library was built, PSR-7 did not exist yet. We can definitely open this up now though!

[2020-10-23 08:58] Guikingone commented on #316
@bshaffer Great news 🎉

Let me know if I can help, thanks again for the feedback and have a great day 🙂

[2021-01-08 13:24] podolinek opened #317 "Missing throwing Google_Service_Exception from OAuth2::fetchAuthToken"
Hi,

I changed google password and my authorized app stop working without handled error at place I expected (token refresh). Finally I found reason. At beginning of processing my request I have `$this->googleClient->refreshToken($this->googleClient->getRefreshToken())`.

`OAuth2.php::fetchAuthToken` - final method od this flow, returns string `{"error": "invalid_grant", "error_description": "Bad R

[2021-02-10 14:50] c0dehunter opened #323 "How to use this library with android-publisher api?"
Hi, I want to be able to access [purchases.products.get](https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.products/get) via this library. I am having a hard time finding a working example, so please excuse if my code doesn't make sense. I tried my best with the documentation that is available,

I generated service account JSON and authorized it in Google Play console.

Thi

[2021-03-05 19:06] bshaffer opened #325 "RFC: Support for Options Array and PHP 8.0 Named Parameters"
## RFC for supporting both named parameters in PHP 8 and options arrays for previous versions of PHP

Given class `Foo` with two "options" in its constructor, `string cacheKey` and `int cacheLifetime`, this would give us the following behavior in PHP 8.0:

[code]

And the following behavior in PHP 7.4 and below:
[code]

For this case, the class constructor would look like:

[code]

The following c

[2021-03-05 19:52] Crell commented on #325
Please don't.

All it does is add complications and complexity.  Remember that the number of PHP installations that support named arguments (PHP 8.0+) will only ever increase from now on, and those that do not will only ever decrease.  You'd be adding extra complexity to your code to support a user base that will only ever shrink, no matter what you do.

Plus, if you're only dealing with 2-4 argum

[2021-03-05 19:56] bshaffer commented on #325
@Crell thank you for weighing in!

While the example only uses two options, this paradigm would be implemented in cases where there are more than 2-4. In #322, the options arrays have 5-7 arguments, and the `OAuth2` class has 23 😖 . So we need to have non-positional arguments, and we can do so with an options array, by requiring PHP 8, or by doing this solution here.

[2021-03-05 20:15] Crell commented on #325
:scream:

Unless that's a value object with lots of optional parameters, I'd consider that a code smell on its own that requires refactoring, not clumsy workarounds.

If you must have an options-array-alike, convert it to an object in the first place.  At which point you can put a real API on it, and potentially even shift the functionality to that object instead.

cf: https://youtu.be/3mcGzBnSm1c

[2021-03-10 08:14] Babacooll opened #328 "Issue with signBlob not using cached token in the FetchAuthTokenCache class"
Hello,

As we wanted to reduce the calls to the Google metadata endpoint to retrieve fresh tokens we decided to use the `\Google\Auth\FetchAuthTokenCache `class with a `\Psr\Cache\CacheItemPoolInterface` implementation using Redis. This works very well for most services such as BigTable, PubSub, ...

But when using the `FetchAuthTokenCache->signBlob() `method (to generate secure URLs) it actually

[2021-04-05 15:14] ScSherifTarek opened #329 "Method getClientName in interface \Google\Auth\FetchAuthTokenInterface"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2021-04-15 04:22] dwsupplee commented on #329
`FetchAuthTokenCache` also implements `SignBlobInterface` which implements the method [here](https://github.com/googleapis/google-auth-library-php/blob/master/src/SignBlobInterface.php#L43). Was there an issue you ran into that was problematic?

[2021-04-20 10:58] MrMage commented on #325
As a user of these libraries (and the GCloud SDK), I am in favor of supporting Named Parameters for PHP 8 users. It would certainly be easier to understand than an `$options` array where I need to read the documentation of each individual constructor to figure out the subset of options that this particular constructor understands.

[2021-05-25 15:36] #329 closed

[2021-06-10 16:34] bshaffer commented on #328
Wow, super good catch and very interesting problem. Thanks for reporting this and demonstrating a solution. I see a few ways to do this:

1. Check for `GCECredentials` and set the last received token manually (your solution)
2. Add a `SetLastReceivedTokenInterface` and set the last received token manually (like your solution, but using something generic instead of checking for a specific credentia

[2021-06-10 17:09] bshaffer commented on #317
This library is completely separate from `google/apiclient`, so we do not want to add a call to `Google_Http_REST` because that class is not available to the stand-alone package.

I think this may be better handled in the `google/apiclient` package, to catch the exception and wrap it in `decodeHttpResponse`.

[2021-06-12 10:55] akalongman opened #342 "Add compatibility with psr/cache 3.0"
I am not able to install this package, because this requires a downgrading of my `psr/cache` from 3.0 to 1.0

[2021-06-21 19:16] #328 closed

[2021-06-21 20:10] bshaffer commented on #342
This update will require a BC-break, so we should target it for v2.0 (see #322)

@akalongman What are you using `google/auth` for? As a stand-alone library, or as part of another library?

[2021-06-21 20:32] bshaffer commented on #342
After looking into this, compatibility with `psr/cache:3.0` will be difficult because it requires incompatibility with `psr/cache:1.0`. This means we'd essentially have to require PHP 8.0 to support it.

Another option would be to have two of every `psr/cache`-implementing classes. I am not a huge fan of this approach, but I don't see another way.

[2021-06-21 22:12] gabihodoroaga opened #346 "Add support for IAP Proxy-Authorization Header"
Hi,

According to the IAP documentation [Identity-Aware Proxy/Programmatic authentication](https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_proxy-authorization_header) it is possible to add the authentication token on a different header than the `Authorization` header, the `Proxy-Authorization: Bearer` header instead, and after authorizing the request, IAP passes the Auth

[2021-06-21 22:17] akalongman commented on #342
@bshaffer I use this package with google apiclient.

[2021-06-22 03:06] kaiden-rxmg opened #625 "Support For Creating Signed URLs With User Credentials"
**Issue**
We want to have developers be able to use their user credentials on their local workstation to be able to create signed URLs. Unfortunately, attempting to use the user credentials result in the following error:

`Credentials fetcher does not implement Google\Auth\SignBlobInterface`

This is because the _UserRefreshCredentials_ class doesn't implement the _SignBlobInterface_.

 **Solution

[2021-06-22 17:56] bshaffer commented on #342
@akalongman we've added support for `psr/cache:2.0` in #344. As long as the library you're using also allows `2.0` then this will work without an issue once we tag our next release.

[2021-06-22 18:05] bshaffer commented on #342
fixed in #154

[2021-06-22 18:05] #342 closed

[2021-06-25 19:41] #346 closed

[2021-07-08 10:31] nchicong commented on #287
+1

[2021-08-27 15:31] bmf-san opened #360 "How do I use AuthTokenMiddleware with using a specific JSON key？"
Hi, I want to use AuthTokenMiddleware with using a specific JSON key, but I can't.

I create a guzzle client like this.

[code]

In this code, I can confirm that the access token is used for the request header.

When I debug [src/OAuth2.php#L535](https://github.com/googleapis/google-auth-library-php/blob/2b1e04ad5c58dc584d5faaa4b43a75b03109d361/src/OAuth2.php#L535), the contents of the auth token

[2021-08-30 08:21] forking-renovate[bot] opened #361 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/googleapis/google-auth-library-php).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration

[2021-08-30 10:25] chdeliens opened #362 "ServiceAccountSignerTrait's signBlob signature and usage issue with "forceOpenssl""
Hi everyone,

While debugging an OpenSSL issue, I stumbled upon [a piece of code](https://github.com/googleapis/google-auth-library-php/blob/master/src/ServiceAccountSignerTrait.php#L40) that will never be executed:

[code]

It looks like that (at least) the [Google Storage client passes an array with `forceOpenssl` as the key](https://github.com/googleapis/google-cloud-php-storage/blob/master/src

[2021-09-23 18:58] Geolim4 opened #363 "Library incompatible with psr/cache ^3.0"
Hello,

I'm running a project ([Phpfastcache#v9](https://github.com/PHPSocialNetwork/phpfastcache/tree/v9)) that requires `psr/cache ^3.0`, which conflict with your constraints: `^1.0|^2.0`

So actually I cannot make use of any Google product at all because of this very "central" constraint.

Do you plan to make it compatible with `psr/cache ^3.0` ?

It's basically the same interface as previous b

[2021-09-23 19:02] Geolim4 commented on #363
@bshaffer this issue will become more and more blocking over the months coming with the PHP-8 popularity growing up :)

[2021-09-23 19:51] bshaffer commented on #363
Hi @Geolim4 ! yes you're right, and it's a concern. But correct me if I'm wrong, every project supporting `3.0` _should_ be supporting `2.0`, and so as long as all the projects which support `1.0` also support `2.0`, the problem should be resolved.

Upgrading to `3.0` would break BC and require a major version bump, which we may do if this issue becomes an issue for other auth library consumers.

[2021-09-24 00:34] Geolim4 commented on #363
If you add the `|| ^3.0` the library _should not_ have a BC break (or I don't see it :P):

If you project make use of `google/auth` as a dependecy:

- Without `psr/cache ^3.0` support (Current behavior)
  - You use php < 8.0:  no problem, composer will stay on a PHP-compatible version of `psr/cache`: `1.0.1`
  - You use php >= 8.0: no problem, composer will select a PHP-compatible version of `psr/

[2021-09-24 14:39] Geolim4 commented on #363
Hello @bshaffer, I plan to add Firestore support on Phpfastcache (v9) which will be released by half-October, do you have any ETA to fix this "issue" ?

Thanks you :)

[2021-09-24 16:08] bshaffer commented on #363
@Geolim4 I am not sure how you think adding `3.0` _won't_ break compatibility. The interfaces are not compatible with our classes, and if we upgrade our classes we will break backwards compatibility with earlier libraries.

[2021-09-24 16:22] Geolim4 commented on #363
The interfaces haven't changed, only the signature changed, and just became more typed if you have PHP-8 installed.
If your project don't run on PHP8, composer will downgrade to 1.0.1.

The only thing to check is to make sure that you've passed the good type to the PSR interface before even if it was not strictly typed.

Aside of that, I'm not sure that you encounter any BC break issue.

[2021-09-24 19:31] bshaffer commented on #363
Please see https://github.com/googleapis/google-auth-library-php/pull/364#issue-742424942 for why we cannot support `psr/cache:3` without major considerations.

Also, please try getting the repositories which require `psr/cache:^3` to instead require `psr/cache:^2||^3`, as this would solve the problem for everyone.

[2021-09-24 20:03] Geolim4 commented on #363
I tried, but the dependency still refused to be installed by Composer :/

[2021-09-27 22:38] bshaffer commented on #363
Thanks for pointing this out! I've submitted a PR to add support for both v2 and v3 there.

[2021-09-27 23:20] Geolim4 commented on #363
I just noticed that there's another dependency lock:

[code]

As you can see `google/gax` [locked ](https://github.com/googleapis/gax-php/blob/master/composer.json) `google/grpc-gcp` to `^0.1.0` which make impossible the upgrade from `0.1.5` to `0.2.0` preventing by the way `google/cloud-firestore` to benefit a partial fix with `psr/cache`  `2.0`, awaiting the current merge request to add an event

[2021-09-27 23:24] bshaffer commented on #363
@Geolim4 a new version of `google/grpc-gcp` [has been released](https://github.com/GoogleCloudPlatform/grpc-gcp-php/releases/tag/v0.2.0). Try updating your dependencies with `composer update` and see if you can now install `psr/cache:v2`.

Unfortunately, as long as you are using phpfastcache, you will not be able to resolve your dependencies until https://github.com/PHPSocialNetwork/phpfastcache/p

[2021-09-27 23:27] bshaffer commented on #363
Closing this issue as we now support the compatibility layer `psr/cache:v2`, which is all that we plan on doing at this time.

[2021-09-27 23:27] #363 closed

[2021-09-27 23:28] Geolim4 commented on #363
I'm working on it, locally, but there's still a last blocking bug that I described above ^ :D
https://github.com/googleapis/google-auth-library-php/issues/363#issuecomment-928429475

[2021-09-27 23:31] bshaffer commented on #363
@Geolim4 this has been resolved in https://github.com/googleapis/gax-php/pull/341

[2021-09-27 23:32] Geolim4 commented on #363
My bad, just saw that [you also updated](https://github.com/googleapis/gax-php/pull/341) `google/gax`, everything is fine now, thanks 🎉

[2021-10-07 09:01] google-cloud-policy-bot opened #365 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [ ] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-12 16:54] #365 closed, assigned to nobody

[2021-10-22 10:29] ChrAus opened #366 "Could not load the default credentials."
Hi there,

so I got this package to work locally (windows) by putting the path to the env file.

On my AWS EC2 it does not seem to work. I am getting:

Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information

This is the path in the env file:

[code]

Any ideas?

[2021-10-22 11:59] #366 closed, assigned to nobody

[2021-12-21 23:05] CarlosCuevas opened #369 "AccessToken::verify will accept a JWT even if it's missing the audience field"
If I provide a JWT such that the `aud` field is set to a non-matching value with the `audience` option and set `throwException` to true, an exception will be thrown. However, if I simply omit the `aud` field in the JWT it will verify the token, even if I explicitly pass an intended audience. I would expect that if a mismatched audience triggers a thrown exception, an omitted one would too.

Changi

[2022-01-05 23:06] bshaffer commented on #369
I agree it seems like if "aud" doesn't exist, it should be treated as an audience mismatch. However, we should verify this is the way it's handled in the spec or other auth libraries before implementing this change here.

[2022-01-24 10:08] nyroDev commented on #363
Hello,
is there any plan to update or provide a new version compatible with psr/cache^3 ?

Thanks in advance.

[2022-01-30 09:06] kkmuffme opened #371 "Use FQCN for param/return types"
Use FQCN for param/return types to avoid tons of false positive errors in static analysis when using this library

[2022-02-09 14:42] wlasnapl opened #373 "Can you support PSR Cache in version 3?"
**Is your feature request related to a problem? Please describe.**
Some other vendor used in my project uses PSR cache in version 3 not in version 2 so there is conflict.

 **Describe the solution you'd like**
Please support PSR Cache in version 3 also.

 **Describe alternatives you've considered**
I've wrote also to that other vendor to support also version 2. But version 3 is newest so should be

[2022-02-10 11:38] wadewomersley commented on #373
Blocking upgrade to PHP8.1 due to this being the only library left that needs 1.0/2.0 and not 3.0.

[2022-02-16 10:05] TimurSadykov opened #376 "Implement Retryable interface for token endpoint requests"
Currently, clients do not have a good way to distinguish retryable errors and implement custom retry strategies. Sometimes this causes infinite retries like here: https://github.com/nwbirnie/gapic-oauth-invalid-hangs. Please prioritize the fix if similar infinite retry is repro here as well.

More details in the doc: go/auth-correct-retry

[2022-02-18 13:40] bshaffer commented on #371
A better approach would be to add `phpstan` static analyzer.

[2022-02-24 01:18] #371 closed

[2022-02-25 12:51] asurcodes commented on #373
In our case, this support is blocking us from adopting Firebase as a push notification service, we are up-to-date using PHP 8.1, so our main option is to use the legacy `SERVER_KEY` authentication mechanism, which is ironic...

IMO droping support for end-of-life PHP version in a new major release (#322) is the best move here, but is a bit worrying the lack of recent progress on the PR, I'm open t

[2022-03-08 07:23] janhenckens commented on #373
Running into similar (blocking) issues here, hope this can be resolved soon.

[2022-03-15 13:09] lanzelotik opened #381 "Add workload identity federation support"
Add workload identity federation support https://cloud.google.com/iam/docs/using-workload-identity-federation

[2022-03-23 17:35] wadewomersley commented on #373
PHP 5.x has been EOL for a few years now (3yr2mo) so I think dropping support for it would certainly raise the least eyebrows.

[2022-03-23 18:49] bshaffer commented on #376
See https://github.com/googleapis/google-auth-library-php/pull/359

[2022-03-24 22:17] bshaffer commented on #373
I've updated [the PR](https://github.com/googleapis/google-auth-library-php/pull/364) so the library has a minimum of PHP 7.1, and uses the `TypedItem` compatibility layer with `psr 3.0`.

Please use composer to try this branch out and see if it works for you

[code]

[2022-03-28 07:37] quulah opened #387 "Support for Application Default Credentials with impersonated_service_account"
**Is your feature request related to a problem? Please describe.**

I'm a bit unsure if this is a bug report, or a feature request.

In any case, for local testing of application code, we would like to impersonate the Service Account used for running the application on GCP.

It works when retrieving the ADC JSON with a user's own set of credentials, but not after adding `--impersonate-service-acco

[2022-04-11 19:18] bshaffer commented on #363
This is now released in [google/auth:v1.20.0](https://github.com/googleapis/google-auth-library-php/releases/tag/v1.20.0)

[2022-04-11 19:18] bshaffer commented on #373
This is now released in [v1.20.0](https://github.com/googleapis/google-auth-library-php/releases/tag/v1.20.0)

[2022-04-11 19:18] #373 closed

[2022-04-11 19:19] bshaffer commented on #325
This is now being discussed here: https://github.com/googleapis/google-cloud-php/discussions/5147

[2022-04-11 19:19] #325 closed

[2022-04-12 13:59] jacekkarczmarczyk opened #393 "update firebase/php-jwt to 6.x"
As in the title - since the project requires now php 7.1+ it should be possible to upgrade the jwt lib

[2022-04-12 14:36] brandonferens commented on #393
A PR has been submitted #391 for this upgrade. I'm needing it as well.

[2022-04-12 15:41] bshaffer commented on #393
Thank you for submitting this! We are trying to get this merged and cut a new release this week!

[2022-04-12 15:41] #393 closed

[2022-04-27 11:18] javiermarinros opened #397 "Incompatible types with package psr/cache v3.0.0"
This error is thrown when trying to use the library in PHP 8.1:

#### Environment details

  - PHP version: 8.1
  - Package name and version: psr/cache v3.0.0, google/auth v1.21.0

#### Steps to reproduce

Create a new folder and place this files:

#### composer.json
[code]

#### test.php
[code]

And then execute:

[2022-04-29 19:19] fulldecent opened #398 "Unchecked null in fetchAuthToken"
This line of code https://github.com/googleapis/google-auth-library-php/blob/3a1a5c5b5a3006b3d05256d5df7066f37252112c/src/Middleware/AuthTokenMiddleware.php#L122

is able to return null. But it is asserted non-null in the next line of code.

https://github.com/googleapis/google-auth-library-php/blob/3a1a5c5b5a3006b3d05256d5df7066f37252112c/src/Middleware/AuthTokenMiddleware.php#L124

That creates

[2022-04-30 22:42] marickvantuil opened #399 "AccessToken class incompatible with firebase/php-jwt 6.x"
#### Environment details

  - OS:
  - PHP version: 8.1
  - Package name and version: google/auth v1.21.0

#### Steps to reproduce

1. Verify a legitimate token with google/auth v1.21.0 and firebase/php-jwt 6.x (v6.1.2)

#### Code example

[code]

The AccessToken class decodes the token the '5.x way' instead of the '6.x way' (which now uses a Key class). I noticed [in the PR that adds firebase/php-

[2022-05-12 08:08] saranshdhingra opened #400 "Cannot use ServiceAccountJwtAccessCredentials (no audience set)"
The issue has been migrated from [google-cloud-php#1130](https://github.com/googleapis/google-cloud-php/issues/1130)

[code]

throws:

[code]

The audience is never being set on the credentials so it never loads an access token to use for authentication (and does this silently). The java library, for example, will throw and exception if there's no audience set.

[2022-05-12 18:20] bshaffer commented on #399
Thanks for bringing this up. I'll try to get a fix in quickly!

[2022-05-12 18:43] bshaffer commented on #398
We use phpstan for static analysis and are currently on [level 7](https://github.com/googleapis/google-auth-library-php/blob/main/phpstan.neon.dist#L4). This is definitely something it should catch.

[2022-05-13 21:03] bshaffer commented on #398
Running through the fetchers we have,

 - [GCECredentials](https://github.com/googleapis/google-auth-library-php/blob/main/src/Credentials/GCECredentials.php#L366) - does not return null
 - [ServiceAccountJwtAccessToken](https://github.com/googleapis/google-auth-library-php/blob/main/src/Credentials/ServiceAccountJwtAccessCredentials.php#L142) - returns `null`
 - [OAuth2](https://github.com/google

[2022-05-16 09:02] google-cloud-policy-bot[bot] opened #403 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [ ] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2022-05-17 17:23] necrogami opened #404 "Google Ads Api Oauth Catchable Exception"
[code]

So i have the code above which is using the google auth library to create the oauth credential, however some of our clients have expired refresh tokens: This spits out:

[code]

Is there a good way to be able to catch that since it's being caught inside the libraries and i'm not seeing a way to properly handle that exception.

[2022-05-25 11:37] poef commented on #398
Running the same code with latest main branche now gives a new, also cryptic error message

[code]

[2022-05-27 09:02] #403 closed

[2022-06-05 01:25] necrogami commented on #404
This has been open for over a half a month, I've been told to post here by both the googleads api php library team and google ads api forums.

Is there anyone who can help me with this?

[2022-06-13 19:22] bshaffer commented on #399
fixed in #402

[2022-06-13 19:22] #399 closed

[2022-06-14 13:37] dictosistemas opened #406 "AccessToken to use FCM HTTP V1"
Hi!

I am trying to generate an "AccessToken" to be able to use Firebase FCM.
To complete my request I need the "AccessToken" to complete the Header Authorization Beare <ACCESS_TOKEN>

These code below intends to generate an temporary token.
My question now is: Is that code OK? There is any deprecated part?
Thanks a lot!

require('vendor/autoload.php');
use Google\Auth\CredentialsLoader;
$scope =

[2022-06-16 16:21] bshaffer commented on #397
Hello @javiermarinros

In order to preserve Backwards Compatibility, we had to create a _new_ class to implement `CacheItemInterface` for `psr/cache v3.0.0`. That class is called `Google\Auth\Cache\TypedItem`. So if you're using `psr/cache v3.0.0`, your code should look like this instead:

**test.php**
[code]

[2022-06-16 16:21] #397 closed

[2022-06-16 16:24] bshaffer commented on #398
This fix has been released in [v1.21.1](https://github.com/googleapis/google-auth-library-php/releases/tag/v1.21.1)

[2022-06-16 16:24] #398 closed

[2022-06-16 16:27] bshaffer commented on #404
Hi @necrogami!

Do you know what is causing your `refresh_tokens` to be revoked? Refresh tokens do not expire.

As far as an elegant way to solve this, you could probably add a middleware to the `GoogleAdsClient`, but that would be out of the scope of this `auth` library.

[2022-06-17 21:55] CarlosCuevas commented on #369
this was fixed, thanks @bshaffer

[2022-06-17 21:55] #369 closed

[2022-06-20 16:22] #406 closed

[2022-06-21 18:15] necrogami commented on #404
We have a lot of customers and it's possible someone inside the company replaced the token without updating the token in our system. This happens in the auth layer and not the google ads client, i've already been told by the ads api team that this is an auth issue and they closed my corresponding ticket. https://github.com/googleads/google-ads-php/issues/803

[2022-07-18 11:03] kaliberx opened #408 "Broken compatibility with php 7.1"
https://github.com/googleapis/google-auth-library-php/blob/45a22aa0bcca028ba5fb4a12291db913d9c48722/src/Cache/TypedItem.php#L46

There are several incompatibilities with php 7.1 in file TypedItem.php, it uses PHP 8.0 syntax. Composer package.json declares compatibility with php 7.1. Please bump version or fix the file.

[2022-07-18 11:36] kaliberx commented on #408
Now I see, there is different class used for older version (Item vs TypedItem). Please close.

[2022-07-18 11:36] #408 closed

[2022-07-22 14:30] ItsReddi commented on #397
@bshaffer we are getting this error also after updating dependencies.
[code]

I am not using the Item directly. I am using: `Google\Service\AndroidPublisher`.
I forced, `psr/cache:^2.0` now but that feels not good.

PHPStan fails also.

[2022-07-22 15:17] bshaffer commented on #397
@ItsReddi i don't think you are actually using PSR/cache 2.0. If you were, you wouldn't be getting this error. You're probably loading the psr/cache 3.0 interfaces at some point beforehand on accident.

[2022-08-11 03:32] wangershuai opened #410 "Auth authentication in PHP environment returns 403 time out"
In the NodeJS environment, the execution result is successful using the key and pass, but in the PHP environment, the same configuration returns 403 time out. What is the problem?

My code: (Make sure the proxy are using is accessible)
[code]

The result is as follows:
[code]

删除 `'auth' => 'google_auth',` 部分返回结果 401

[2022-08-24 20:17] bshaffer commented on #410
It's possible that the NodeJS library is doing something like using Self-Signed JWTs by default, whereas the PHP library is making an HTTP request. Is it possible your network is blocking the HTTP request to our oauth2 token endpoint?

[2022-08-31 15:02] wotekPL opened #412 "Wrong version in composer"
https://github.com/googleapis/google-auth-library-php/blob/deab93524279124917707189eef0038aa2bfd2a5/src/Cache/TypedItem.php#L50 this code is OK only in php8 but in composer you allow use PHP 7.1

[2022-09-03 19:54] vishwarajanand commented on #412
Hi @wotekPL , thanks for reporting this. I have raised a potential fix, will take it up internally.

[2022-09-06 17:39] bshaffer commented on #412
This class is specifically loaded only for PHP 8.0. [See here](https://github.com/googleapis/google-auth-library-php/blob/main/src/Cache/MemoryCacheItemPool.php#L60). This is in order to satisfy [`psr/cache:3`](https://github.com/php-fig/cache/blob/3.0.0/composer.json#L13), which is only available on PHP8+. So this is WAD.

[2022-09-06 17:39] #412 closed

[2022-10-27 14:45] bshaffer commented on #410
Closing due to inactivity. Please open if you have any more information on this.

[2022-10-27 14:45] #410 closed

[2022-10-27 14:49] bshaffer commented on #400
The way these credentials were implemented, for better or for worse, was to pass the audience in at runtime to the credentials (e.g. when `updateMetadata` is called) rather than when `fetchAuthToken` is called. This is how all the language auth libraries were originally written, and I believe they still all function this way.

The second part of this is what to do when the audience is empty. In mo

[2022-10-27 14:49] #400 closed

[2022-10-27 14:50] bshaffer commented on #387
See #421 - we are working to get this added soon!

[2022-11-30 09:50] DeveloperRob opened #427 "User Refresh Credentials Authentication flow with Access Token Only"
### Current Issue
On Google-Ads-PHP, a feature request was raised where someone using a microservice architecture would like a way to manage retrieval of access tokens themselves (shared between simultaneously running instances) instead of providing a refresh token and having this library obtain the access token. That library wraps around the classes exposed from this library, and while it has `Us